.card {
  position: relative;
}

.board-card {
  cursor: pointer;
  background-color: var(--white-color);
  width: 252px;
  min-width: 190px;
  border-radius: 24px;
  padding: 16px;
  margin-right: 24px;
  box-shadow: 0 0 14px #2a364739;
}

.board-card-tilt {
  transform: rotate(5deg);
}

.category-block {
  color: var(--white-color);
  text-align: center;
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
}

.x-button-board {
  display: none;
}

.task-container,
.priority-block {
  margin-top: 24px;
}

.title-block {
  margin-bottom: 8px;
  color: var(--mockup-color);
  font-weight: 700;
  overflow: hidden;
  max-height: 40px;
  word-wrap: break-word;
}

.description-block {
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 24px;
  color: #a8a8a8;
  word-wrap: break-word;
}
.subtasks-block,
.priority-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtasks-block {
  gap: 11px;
  font-size: 12px;
  color: black;
}
.progress {
  height: 100%;
  background-color: #4589ff;
}
.board-added-contacts {
  position: relative;
  display: flex;
  margin-left: 8px;
  z-index: 0;
}
.board-assignedTo-prio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  width: 128px;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 16px;
  overflow: hidden;
  flex: 1;
}
.board-circle-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 12px;
}

.board-left-indent {
  margin-left: -10px;
}

.date-prio-block {
  display: none;
}

.static-block {
  color: #42526e;
  padding-right: 25px;
}

.static-block div {
  margin-bottom: 16px;
}

.changeing-block div {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignedTo {
  display: none;
}

.assignedTo-box {
  position: absolute;
  bottom: 16px;
  left: 16px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assignedTo-pic {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  margin-right: 16px;
}

.assignedTo-text {
  display: none;
}

.little-card-subtasks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: none;
}

.relativ {
  position: relative;
}

.gray {
  width: 128px;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 16px;
  position: absolute;
  left: 16px;
}

.blue {
  width: 64px;
  height: 8px;
  border-radius: 16px;
  background-color: #4589ff;
  position: absolute;
}

.little-subtask {
  position: relative;
  font-size: 12px;
  margin-left: 150px;
}

.subtask {
  display: none;
}

.subtask-box {
  margin-top: 8px;
  padding: 4px 0 4px 16px;
}

.delete-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  gap: 8px;
  display: none;
}

.delete-edit-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-edit image {
  height: 24px;
  width: 24px;
}

.seperator {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
}

.move-to-button {
  display: none;
}

@media (min-width: 761px) {
  .task-container,
  .priority-block {
    margin-top: 8px;
  }
  .description-block {
    margin-bottom: 8px;
  }
  .board-card {
    padding: 16px;
  }
}
@media (min-width: 1341px) {
  .task-container,
  .priority-block {
    margin-top: 24px;
  }
  .description-block {
    margin-bottom: 24px;
  }
  .board-card {
    padding: 16px;
  }
}
@media (max-width: 760px) {
  .task-container,
  .priority-block {
    margin-top: 8px;
  }
  .description-block {
    margin-bottom: 8px;
  }
  .board-card {
    padding: 16px;
  }
  .move-to-button {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: -10px;
    right: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
  }
  .move-to-headline {
    padding: 12.5px;
    background-color: var(--white-grey);
    display: flex;
    justify-content: space-between;
  }
  .move-to-button2 {
    position: absolute;
    right: 0;
    top: 8px;
    height: 8px;
    width: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
  }
  .move-to-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .move-to-menu ul {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--mockup-color);
    list-style-type: none;
    color: white;
  }
  .move-to-menu ul li {
    padding: 10.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .move-to-menu ul li:hover {
    background-color: var(--focus-color-btn);
  }
}
