.card-info-section,
.board-info-title,
.board-info-title span,
.board-info-description,
.board-info-description span,
.board-info-big-size,
.board-info-small-size {
  transition: all 300ms ease-in-out;
}

.card-info-section {
  padding: 0px 16px 0px 16px;
  overflow-y: auto;
  transform: translateY(200%);
}
.card-info-section.card-visible {
  transform: translateY(0);
  transform: translateX(0);
}
.board-info-title {
  max-height: 230px;
  overflow-y: auto;
}
.board-info-title span {
  font-weight: 700;
  word-wrap: break-word;
}
.board-info-description {
  max-height: 200px;
  overflow-y: auto;
}
.board-info-description span {
  word-wrap: break-word;
}
.board-info-prio-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.board-info-table {
  border-collapse: collapse;
}
td {
  text-align: left;
  padding-right: 25px;
}

.board-info-color {
  color: var(--mockup-color);
}

.board-info-assignedTo-content {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 16px;
}

.board-info-circle-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 12px;
}

@media (min-width: 761px) {
  .card-info-wrapper {
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-info-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    padding: 16px;
  }

  .board-info-title span {
    font-size: 48px;
  }
  .board-info-description span,
  .board-info-table,
  .board-info-big-size {
    font-size: 22px;
  }
  .board-info-small-size {
    font-size: 16px;
  }
}
@media (min-width: 1341px) {
  .card-info-wrapper {
    max-width: 1920px;
  }
  .card-info-section {
    transform: translateY(0);
    transform: translateX(100%);
    max-width: calc(100vw - 232px - 128px);
  }
  .board-info-title span {
    font-size: 61px;
  }
}

@media (max-width: 760px) {
  .board-info-title span {
    font-size: 36px;
  }
  .board-info-description span,
  .board-info-table,
  .board-info-big-size {
    font-size: 16px;
  }
  .board-info-small-size {
    font-size: 16px;
  }
}
