.board-card {
    background-color: var(--white-color);
    margin: 100px 20px;
    border-radius: 30px;
    padding: 32px 24px;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorie-block {
    background-color: #0038FF;
    color: var(--white-color);
    width: 113px;
    height: 27px;
    padding: 4px,  16px, 4px, 16px;
    border-radius: 8px;

}


.x-button-board {
    background-image: url(/assets/img/board_close.png);
    background-color: var(--white-color);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.container-2 {
    margin-top: 16px;
}

.title-block {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 700;   
}

.description-block {
   margin-bottom: 16px;
   font-size: 16px; 
   font-weight: 400;
}

.date-prio-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.static-block {
    color: #42526E;
    padding-right: 25px;
}

.static-block div {
    margin-bottom: 16px;
}

.changeing-block div {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedTo {
    margin-bottom: 16px;
}

.assignedTo-box {
    margin-top: 8px;
    width: 348px;
    height:56px;
    padding: 7px 16px 7px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.assignedTo-pic {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    margin-right: 16px;
}

.subtask {
   margin-bottom: 16px;
}

.subtask-box {
    margin-top: 8px;
    padding: 4px 0 4px 16px;
}

.delete-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    gap: 8px;
}

.delete-edit-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delete-edit image {
    height: 24px;
    width: 24px;
}

.seperator {
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
}



