.board-at-overlay {
  position: absolute;
  top: 96px;
  bottom: 80px;
  left: 0px;
  right: 0px;
  background: white;
}
.at-section {
  padding: 0px 16px 0px 16px;
  overflow-y: auto;
  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}
.content-container-board {
  overflow-y: auto;
}

.at-section.card-visible {
  transform: translateY(0);
  transform: translateX(0);
}
.close-board-at {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.board-at-headline {
  transition: all 300ms ease-in-out;
}
.close-board-at svg path {
  fill: var(--mockup-color);
}

.content-bottom-container-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: 20px;
  padding-inline: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
  z-index: 101;
  margin-top: 10px;
}
.card-content {
  z-index: 900;
  border-radius: 30px;
  position: fixed;
  top: 96px;
  bottom: 80px;
  left: 16px;
  right: 16px;
  overflow: hidden;
  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}

@media (min-width: 761px) {
  .content-container-board {
    max-height: calc(100vh - 380px);
  }
  .close-board-at {
    right: 16px;
  }
  .at-section .close-board-at:hover {
    background: var(--placeholder-color);
  }
  .close-board-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path {
    fill: white;
  }
  .board-at-overlay {
    bottom: 0px;
    left: 232px;

    background: #2f2f2f8d;
  }
  .content-bottom-container-board {
    position: static;
  }
  .at-section {
    margin-top: 58px;
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    padding: 16px;
  }
}

@media (min-width: 1341px) {
  .close-board-at {
    top: 64px;
  }
  .board-at-wrapper {
    max-width: 1920px;
  }
  .content-container-board {
    margin-top: 100px;
    display: flex;
    gap: 32px;
    max-width: 1920px;
  }
  .at-section {
    max-width: calc(100vw - 232px - 128px);
    margin-inline: 64px;
    transform: translateY(0);
    transform: translateX(100%);
  }

  .board-at-headline {
    position: absolute;
    top: 48px;
    left: 16px;
    font-size: 64px;
  }
  .at-section.card-visible {
    transform: translateX(0);
  }
}
@media (max-width: 760px) {
  .content-bottom-container-board {
    position: sticky;
    padding-inline: 0;
    background: white;
  }

  .close-board-at {
    position: sticky;
    top: 16px;
    left: 100%;
    z-index: 900;
  }
  .close-board-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path {
    fill: white;
  }
  .content-container-board {
    max-height: calc(100vh - 360px);
    margin-top: 48px;
  }
  .board-at-headline {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 54px;
  }
}

@media (max-width: 466px) {
  .board-at-headline {
    font-size: 43px;
  }
}
