@media (min-width: 761px) {
  .board-content-wrapper {
    max-height: calc(100vh - 209px);
    overflow-y: auto;
    padding-right: 32px;
  }
  .board-wrapper {
    margin: 144px 0 0 calc(232px + 32px);
    width: calc(100vw - 232px - 32px);
  }
  .board-headline h1 {
    font-size: 54px;
  }
  .board-at-btn {
    width: 60px;
    height: 48px;
  }
  .board-at-btn span {
    display: none;
  }
  .board-headline-right {
    margin-left: 8px;
    gap: 8px;
    margin-right: 52px;
  }
  .board-search-mobile {
    display: none;
  }
  .drag-container,
  .drag-area {
    height: 245px;
  }
  .noTaskMsg-container {
    width: 100%;
    height: 200px;
  }
  .drag-container {
    margin-block: 16px;
  }
  .magnifier-container:hover {
    background: #d1d1d164;
  }
  .magnifier-container:active svg path {
    fill: var(--mockup-highlight);
  }
  .board-plus-btn:hover svg path,
  .board-plus-btn:hover svg rect {
    stroke: var(--mockup-highlight);
  }
  .board-plus-btn:active svg path,
  .board-plus-btn:active svg rect {
    stroke: var(--focus-color-btn);
  }
}

@media (min-width: 973px) {
  .board-at-btn {
    width: 260px;
    height: 48px;
  }
  .board-at-btn span {
    display: block;
  }
  .board-headline-right {
    margin-left: 32px;
    gap: 32px;
  }
}

@media (min-width: 1341px) {
  .board-content-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
    box-shadow: 0 0 14px #2a364739;
    border-radius: 24px;
    margin-top: 8px;
    padding: 32px;
    gap: 0px;
  }
  .board-wrapper {
    margin: 180px 0 0 calc(232px + 32px);
    width: calc(100vw - 232px - 64px);
    max-width: 1920px;
  }
  .board-headline h1 {
    font-size: 64px;
    margin-left: 30px;
  }
  .board-plus-btn {
    position: absolute;
    right: 16px;
  }
  .noTaskMsg-container {
    width: 230px;
    height: 80px;
  }
  .board-box {
    margin: 0;
    max-width: none;
  }
  .board-header {
    position: relative;
    margin-bottom: 16px;
    min-width: 252px;
  }
  .drag-area {
    flex-direction: column;
    overflow: hidden;
    width: 230px;
    height: auto;
    padding-block: 16px;
  }
  .drag-area:first-child {
    padding-left: 0;
  }
  .board-card {
    width: 200px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .drag-container {
    display: flex;
    justify-content: center;
    width: 230px;
    height: auto;
    margin-block: 0px;
  }
  .board-box h2 {
    font-size: 24px;
    margin-left: 16px;
  }
}
@media (min-width: 1475px) {
  .board-card {
    width: 260px;
  }
  .drag-area,
  .drag-container {
    width: 270px;
  }
  .board-plus-btn {
    right: 0px;
  }
}
@media (max-width: 760px) {
  .noTaskMsg-container {
    width: 100%;
    height: 200px;
  }
  .board-content-wrapper {
    max-height: calc(100vh - 370px);
    overflow-y: auto;
    margin-top: 16px;
    width: calc(100vw - 16px);
    padding-right: 16px;
  }
  .drag-container {
    margin-block: 16px;
  }
  .drag-container,
  .drag-area {
    height: 245px;
  }
  .board-search-desktop {
    display: none;
  }
  .board-search-mobile {
    margin-top: 16px;
  }
  .board-wrapper {
    margin: 144px 16px 0 16px;
  }
  .board-headline h1 {
    font-size: 54px;
  }
  .magnifier-container:active {
    background: #d1d1d164;
  }
  .magnifier-container:active svg path {
    fill: var(--mockup-highlight);
  }
  .board-plus-btn:active svg path,
  .board-plus-btn:active svg rect {
    stroke: var(--mockup-highlight);
  }
}

@media (max-width: 466px) {
  .board-at-btn {
    width: 50px !important;
    height: 40px;
  }
  .board-at-btn svg {
    width: 20px;
  }
  .board-headline h1 {
    font-size: 43px;
  }
}

@media (min-width: 761px) and (max-height: 900px) {
  .board-wrapper {
    margin: 100px 0 0 calc(232px + 32px);
  }
  .board-content-wrapper {
    max-height: calc(100vh - 170px);
  }
}

@media (min-width: 761px) and (max-height: 573px) {
  .board-headline h1 {
    font-size: 47px;
  }
  .board-content-wrapper {
    max-height: calc(100vh - 160px);
  }
}

@media (min-width: 1341px) and (max-height: 900px) {
  .board-content-wrapper {
    max-height: calc(100vh - 220px);
  }
}

@media (min-width: 1341px) and (max-height: 700px) {
  .board-content-wrapper {
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }
}

@media (min-width: 1341px) and (max-height: 573px) {
  .board-content-wrapper {
    max-height: calc(100vh - 160px);
    padding: 8px;
  }
}

@media (max-width: 760px) and (max-height: 900px) {
  .board-wrapper {
    margin: 100px 8px 0 8px;
  }
  .board-content-wrapper {
    max-height: calc(100vh - 330px);
  }
}
@media (max-width: 500px) and (max-height: 600px) {
  .add-task,
  .magnifier-container {
    display: none;
  }
}
@media (max-width: 761px) and (max-height: 600px) {
  .board-headline h1 {
    font-size: 47px;
  }
  .board-content-wrapper {
    max-height: calc(100vh - 250px);
    margin-top: 8px;
  }
  .board-search-mobile {
    position: absolute;
    top: 94px;
    left: 145px;
    min-width: 110px;
    max-width: calc(100vw - 220px);
    padding: 6px;
    height: 40px;
  }
}
@media (max-width: 761px) and (max-height: 450px) {
  .board-content-wrapper {
    max-height: calc(100vh - 182px);
    margin-top: 0px;
  }
  .board-search-mobile,
  .board-headline {
    display: none;
  }
}
