@media (min-width: 761px) {
  .board-content-wrapper {
    max-height: calc(100vh - 209px);
    overflow-y: auto;
    padding-right: 32px;
  }
  .board-wrapper {
    margin: 144px 0 0 calc(232px + 32px);
    width: calc(100vw - 232px - 32px);
  }
  .board-headline h1 {
    font-size: 54px;
  }
  .board-at-btn {
    width: 60px;
    height: 48px;
  }
  .board-at-btn span {
    display: none;
  }
  .board-headline-right {
    gap: 8px;
  }
  .board-search-mobile {
    display: none;
  }
}

@media (min-width: 973px) {
  .board-at-btn {
    width: 260px;
    height: 48px;
  }
  .board-at-btn span {
    display: block;
  }
  .board-headline-right {
    gap: 32px;
  }
}

@media (min-width: 1341px) {
  .board-content-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
    box-shadow: 0 0 14px #2a364739;
    border-radius: 24px;
    margin-top: 8px;
    padding: 32px;
    gap: 24px;
  }
  .board-wrapper {
    margin: 180px 0 0 calc(232px + 32px);
    width: calc(100vw - 232px - 64px);
    max-width: 1920px;
  }
  .board-headline h1 {
    font-size: 64px;
    margin-left: 30px;
  }
  .add-task-2 {
    position: absolute;
    right: 16px;
  }
  .board-box {
    margin: 0;
    max-width: none;
  }
  .board-header {
    position: relative;
    margin-bottom: 16px;
    min-width: 252px;
  }
  .drag-area {
    flex-direction: column;
    padding-block: 16px;
    overflow: hidden;
    width: 252px;
  }
  .drag-area:first-child {
    padding-left: 0;
  }
  .drag-area-hover-default {
    min-height: 64px;
  }
  .drag-area-hover {
    min-height: 100vh;
  }
  .board-card {
    width: 225px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .drag-container {
    display: flex;
    justify-content: center;
    width: 252px;
  }
  .board-box h2 {
    font-size: 24px;
    margin-left: 16px;
  }
  .drag-area-hover-default {
    margin-top: 32px;
  }
}
@media (min-width: 1450px) {
  .board-card {
    width: 260px;
  }
  .drag-area,
  .drag-container {
    width: 270px;
  }
  .add-task-2 {
    right: 0px;
  }
}
@media (max-width: 760px) {
  .board-content-wrapper {
    max-height: calc(100vh - 380px);
    overflow-y: auto;
    width: calc(100vw - 16px);
    padding-right: 16px;
  }
  .board-search-desktop {
    display: none;
  }
  .board-search-mobile {
    margin-top: 48px;
  }
  .board-wrapper {
    max-height: calc(100vh - 181px);
    margin: 144px 16px 0 16px;
  }
  .board-headline h1 {
    font-size: 54px;
  }
}

@media (max-width: 466px) {
  .board-at-btn {
    width: 50px;
    height: 40px;
  }
  .board-at-btn svg {
    width: 20px;
  }
  .board-headline h1 {
    font-size: 43px;
  }
}
