.board-info-overlay {
  position: absolute;
  top: 96px;
  bottom: 80px;
  left: 0px;
  right: 0px;
  background: white;
  z-index: 991;
}

.card-info-section,
.board-info-title,
.board-info-title span,
.board-info-description,
.board-info-description span,
.board-info-big-size,
.board-info-small-size,
.board-info-category span {
  transition: all 300ms ease-in-out;
}

.card-info-section {
  padding: 40px;
  transform: translateY(200%);
}
.card-info-section.card-visible {
  transform: translateY(0);
  transform: translateX(0);
}

.board-content-container {
  box-shadow: 0 0 14px #2a364739;
  padding: 16px;
  border-radius: 24px;
  max-height: calc(100vh - 320px);
  margin-top: 24px;
  overflow-y: auto;
}

.board-info-category {
  display: inline-block;
  height: 48px;
  border-radius: 8px;
  line-height: 40px;
  margin-left: 16px;
  padding: 4px 24px 4px 24px;
}

.board-info-category span {
  color: var(--white-color);
}

.board-info-title span {
  font-weight: 700;
  word-wrap: break-word;
}

.board-info-description span {
  word-wrap: break-word;
}
.board-info-prio-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 10px;
}
.prio-margin {
  margin-right: 36px;
}
.board-info-prio-content,
.board-info-date-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.board-info-date-content {
  gap: 25px;
}
.board-info-prop {
  color: #42526e;
}

.board-info-assignedTo-content {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 18px;
}

.board-info-circle-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 12px;
}

.board-info-task {
  cursor: pointer;
  padding: 8px 24px 8px 24px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  margin-top: 2px;
  align-items: center;
}

.board-info-assignedTo-content:first-child {
  margin-top: 15px;
}

.board-info-menu-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.board-info-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 10px;
}
.board-info-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}
.board-info-line {
  height: 24px;
  border-radius: 3px;
  background: #d1d1d1;
  width: 1px;
}
.board-info-margin {
  margin-top: 24px;
}
@media (min-width: 761px) {
  .close-board-at {
    top: 43px;
    position: sticky;
    left: 100%;
  }
  .board-info-overlay {
    bottom: 0px;
    left: 232px;
    top: 0;
    background: #2f2f2f8d;
  }
  .card-info-wrapper {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-info-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    max-height: calc(100vh - 64px);
  }
  .board-info-title span {
    font-size: 48px;
  }
  .board-info-description span,
  .board-info-table,
  .board-info-big-size,
  .board-info-category span {
    font-size: 22px;
  }
  .board-info-small-size {
    font-size: 16px;
  }
  .board-info-task:hover {
    background: var(--placeholder-color);
  }
  .board-info-task:active {
    background: #a1a1a1;
  }
  .board-info-menu:hover {
    background: var(--placeholder-color);
  }
  .board-info-menu:hover svg path {
    fill: var(--mockup-highlight);
  }
  .board-info-menu:hover > span {
    color: var(--mockup-highlight);
  }
  .board-info-menu:active svg path {
    fill: white;
  }
  .board-info-menu span:active {
    color: white;
  }
  .board-info-menu:active {
    background: var(--focus-color-btn);
  }
}
@media (min-width: 1341px) {
  .close-board-at {
    top: 41px;
  }
  .card-info-wrapper {
    max-width: 1920px;
  }
  .card-info-section {
    transform: translateY(0);
    transform: translateX(150%);
    max-width: calc(100vw - 232px - 128px);
  }
  .board-info-title span {
    font-size: 61px;
  }
}

@media (max-width: 760px) {
  .close-board-at {
    top: 41px;
  }
  .board-info-overlay {
    bottom: 0px;
    left: 0px;
    top: 0;
    background: #2f2f2f8d;
  }
  .card-info-wrapper {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-info-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    max-height: calc(100vh - 64px);
  }
  .board-info-title span {
    font-size: 36px;
  }
  .board-info-description span,
  .board-info-table,
  .board-info-big-size,
  .board-info-category span {
    font-size: 16px;
  }
  .board-info-small-size {
    font-size: 16px;
  }
  .board-info-task:active {
    background: var(--placeholder-color);
  }
  .board-info-menu:active > span {
    color: var(--mockup-highlight);
  }
  .board-info-menu:active svg path {
    fill: var(--mockup-highlight);
  }
  .board-info-menu:active {
    background: var(--placeholder-color);
  }
}

@media (max-width: 600px) {
  .board-content-container {
    box-shadow: none;
  }
  .card-info-section {
    padding-inline: 16px;
  }
}

@media (max-width: 450px) {
  .card-info-section {
    margin-inline: 0;
    border-radius: none;
    background: white;
    width: 100%;
    max-height: 100vh;
  }
}
