.board-overlay {
  position: absolute;
  top: 96px;
  bottom: 80px;
  background: white;
  left: 0px;
  right: 0px;
  z-index: 999;
}
.board-at-section {
  padding: 0px 16px 0px 16px;
  overflow-y: auto;
  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}
.content-container-board {
  overflow-y: auto;
  transition: all 300ms ease-in-out;
}

.board-at-section.card-visible {
  transform: translateY(0);
  transform: translateX(0);
}
.close-board-at {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.board-at-headline {
  transition: all 300ms ease-in-out;
}
.close-board-at svg path {
  fill: var(--mockup-color);
}

.content-bottom-container-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: 20px;
  padding-inline: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
  z-index: 101;
  margin-top: 10px;
}

@media (min-width: 761px) {
  .content-container-board {
    max-height: calc(100vh - 380px);
  }
  .close-board-at {
    top: 32px;
    right: 40px;
  }
  .board-at-section .close-board-at:hover {
    background: var(--placeholder-color);
  }
  .board-at-section .close-board-at:active,
  .close-board-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path {
    fill: white;
  }
  .board-overlay {
    bottom: 0px;
    left: 232px;
    top: 0;
    background: #2f2f2f8d;
  }
  .content-bottom-container-board {
    position: static;
  }
  .board-at-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    padding: 16px;
  }
  .board-at-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1341px) {
  .close-board-at {
    top: 74px;
    right: 72px;
  }
  .board-at-wrapper {
    max-width: 1920px;
  }
  .content-container-board {
    margin-top: 48px;
    display: flex;
    gap: 32px;
    max-width: 1920px;
    height: calc(100vh - 390px);
    padding: 4px;
  }
  .board-at-section {
    max-width: calc(100vw - 232px - 128px);
    margin-inline: 64px;
    transform: translateY(0);
    transform: translateX(200%);
    padding: 70px;
    height: calc(100vh - 200px);
    overflow: hidden;
    max-height: 1000px;
  }
  .content-bottom-container-board {
    position: absolute;
    margin-bottom: 16px;
    padding-left: 72px;
    padding-right: 70px;
  }
  .board-at-headline {
    position: absolute;
    top: 48px;
    left: 16px;
    font-size: 64px;
  }
}

@media (max-width: 857px) {
  .board-at-section {
    margin-inline: 0px;
  }
}

@media (max-width: 760px) {
  .content-container-board {
    max-height: calc(100vh - 380px);
  }
  .close-board-at {
    top: 32px;
    right: 40px;
  }
  .board-overlay {
    bottom: 0px;
    left: 0px;
    top: 0;
    background: #2f2f2f8d;
  }
  .content-bottom-container-board {
    position: static;
  }
  .board-at-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    padding: 16px;
  }
  .board-at-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close-board-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path {
    fill: white;
  }
}

@media (max-width: 481px) {
  .board-at-section {
    margin-inline: 0px;
  }
  .board-at-headline {
    font-size: 43px;
  }
  .close-board-at {
    top: 28px;
  }
}
@media (max-width: 760px) and (max-height: 700px) {
  .board-at-section {
    margin-inline: 0px;
    border-radius: 0;
    height: 100vh;
  }
  .board-at-wrapper {
    display: block;
  }
  .content-container-board {
    max-height: calc(100vh - 150px);
  }
}

@media (max-width: 760px) and (max-height: 500px) {
  .board-at-headline {
    font-size: 38px;
  }
  .content-container-board {
    max-height: calc(100vh - 120px);
  }
  .bottom-container-position {
    position: absolute;
    bottom: 8px;
  }
}
@media (min-width: 761px) and (max-height: 700px) {
  .board-at-wrapper {
    display: block;
    margin-bottom: 0;
  }
  .board-at-section {
    height: 100vh;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .content-container-board {
    max-height: calc(100vh - 200px);
    margin-top: 42px;
  }
  .board-at-headline {
    top: 0;
    font-size: 48px;
  }
  .close-board-at {
    top: 32px;
  }
}
@media (min-width: 1341px) and (max-height: 700px) {
  .content-container-board {
    height: calc(100vh - 240px);
    margin-top: 0px;
    max-height: none;
  }
  .board-at-section {
    height: calc(100vh - 96px);
    margin-inline: 64px;
    border-radius: 20px;
  }
  .board-at-wrapper {
    display: flex;
    margin-bottom: 0;
  }
}

@media (min-width: 1341px) and (max-height: 500px) {
  .board-at-section {
    height: 100vh;
    margin-inline: 0px;
    border-radius: 20px;
    padding: 24px;
  }
  .content-container-board {
    margin-top: 24px;
    height: calc(100vh - 110px);
  }
  .close-board-at {
    top: 12px;
  }
}
