.board-overlay {
  position: absolute;
  top: 96px;
  bottom: 80px;
  background: white;
  left: 0px;
  right: 0px;
  z-index: 999;
}
.board-at-section {
  padding: 0px 16px 0px 16px;
  overflow-y: auto;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}
.content-container-board {
  overflow-y: auto;
  transition: all 200ms ease-in-out;
}
.board-at-section.card-visible {
  transform: translateY(0);
  transform: translateX(0);
}
.close-board-at,
.close-edit-at {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.board-at-headline {
  transition: all 200ms ease-in-out;
}
.close-board-at svg path,
.close-edit-at svg path {
  fill: var(--mockup-color);
}
.content-bottom-container-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: 20px;
  padding-inline: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85px;
  transition: all 200ms ease-in-out;
  z-index: 101;
}
@media (min-width: 761px) {
  .required-msg {
    font-size: 18px;
  }
  .content-container-board {
    max-height: calc(100vh - 280px);
  }
  .close-board-at,
  .close-edit-at {
    top: 32px;
    right: 40px;
  }
  .board-at-section .close-board-at:hover,
  .board-at-section .close-edit-at:hover {
    background: var(--placeholder-color);
  }
  .board-at-section .close-board-at:active,
  .close-board-at:active,
  .board-at-section .close-edit-at:active,
  .close-edit-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path,
  .close-edit-at:active svg path {
    fill: white;
  }
  .board-overlay {
    bottom: 0px;
    left: 232px;
    top: 0;
    background: #2f2f2f8d;
  }
  .board-at-section {
    margin-inline: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
    padding: 32px;
    height: calc(100vh - 100px);
    max-width: 550px;
    margin-inline: 16px;
  }
  .board-at-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .at-prio-img {
    justify-content: center !important;
    gap: 16px !important;
  }
}
@media (min-width: 1341px) {
  .at-prio-img {
    justify-content: center !important;
    gap: 16px !important;
  }
  .vertical-bar-container {
    display: none !important;
  }
  .board-at-section {
    transform: translateY(0);
    transform: translateX(250%);
    max-width: 1100px;
    max-height: 900px;
  }
  .board-at-wrapper {
    max-width: 1920px;
  }
  .content-container-board {
    margin-top: 48px;
    display: flex;
    gap: 32px;
    max-width: 1920px;
    height: calc(100vh - 390px);
    padding: 4px;
  }
}
@media (min-width: 2500px) {
  .board-at-section {
    transform: translateY(250%);
  }
  .board-at-section .card-visible {
    transform: translatex(0);
    transform: translateY(0);
  }
}
@media (max-width: 760px) {
  .required-msg {
    font-size: 16px !important;
  }
  .content-container-board {
    max-height: calc(100vh - 250px);
  }
  .close-board-at,
  .close-edit-at {
    top: 32px;
    right: 40px;
  }
  .board-overlay {
    bottom: 0px;
    left: 0px;
    top: 0;
    background: #2f2f2f8d;
  }
  .board-at-section {
    margin-inline: 8px;
    background: white;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 20px;
    max-width: 396px;
    height: calc(100vh - 100px);
  }
  .at-prio-img-red,
  .at-prio-img-yellow,
  .at-prio-img-green {
    width: 100px !important;
  }
  .at-prio-img {
    padding-inline: 8px;
  }
  .board-at-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close-board-at:active,
  .close-edit-at:active {
    background: var(--focus-color-btn);
  }
  .close-board-at:active svg path,
  .close-edit-at:active svg path {
    fill: white;
  }
}
@media (max-width: 481px) {
  .board-at-headline {
    font-size: 43px;
  }
  .close-board-at,
  .close-edit-at {
    top: 28px;
  }
  .content-container-board {
    max-height: calc(100vh - 300px);
  }
}
@media (max-width: 466px) {
  .content-bottom-container-board {
    height: 50px;
  }
}
@media (max-width: 396px) {
  .at-prio-img-red,
  .at-prio-img-yellow,
  .at-prio-img-green {
    width: 80px !important;
  }
}
@media (max-width: 377px) {
  .required-msg {
    font-size: 14px !important;
  }
}
@media (max-width: 356px) {
  .required-msg {
    font-size: 12px !important;
  }
}
@media (max-width: 343px) {
  .board-at-section {
    margin-inline: 0px;
    border-radius: 0px;
    max-width: none;
  }
}
@media (min-width: 761px) and (max-height: 700px) {
  .board-at-section {
    height: calc(100vh - 24px);
  }
}
@media (min-width: 761px) and (max-height: 600px) {
  .content-container-board {
    max-height: calc(100vh - 180px);
    margin-top: 0px;
  }
  .board-at-headline {
    top: 0;
    font-size: 48px;
  }
  .close-board-at,
  .close-edit-at {
    top: 32px;
  }
}
@media (min-width: 761px) and (max-height: 500px) {
  .board-at-section {
    border-radius: 0;
    max-height: none;
    height: 100vh;
    max-width: none;
    margin: 0;
  }
}
@media (min-width: 980px) and (max-height: 700px) {
  .board-at-section {
    margin-inline: 64px;
    border-radius: 20px;
    max-width: 600px;
  }
}
@media (min-width: 1341px) and (max-height: 700px) {
  .board-at-section {
    max-width: 1100px;
  }
  .content-container-board {
    height: calc(100vh - 255px);
    margin-top: 0px;
    max-height: none;
  }
  .board-at-wrapper {
    display: flex;
    margin-bottom: 0;
  }
}
@media (min-width: 1341px) and (max-height: 500px) {
  .board-at-section {
    height: 100vh;
    margin-inline: 0px;
    border-radius: 20px;
    padding: 24px;
  }
  .content-container-board {
    margin-top: 24px;
    height: calc(100vh - 205px);
  }
  .close-board-at,
  .close-edit-at {
    top: 12px;
  }
  .content-bottom-container-board {
    padding-left: 30px;
    padding-right: 40px;
  }
}
@media (max-width: 760px) and (max-height: 600px) {
  .board-at-section {
    height: 100vh;
    margin-top: 0;
  }
  .content-container-board {
    max-height: calc(100vh - 150px);
  }
  .board-at-headline {
    font-size: 38px;
  }
}
@media (max-width: 333px) and (max-height: 600px) {
  .board-at-section {
    position: relative;
    margin-inline: 0px;
    border-radius: 0;
    margin-top: 0px;
    height: 100vh;
  }
  .board-at-wrapper {
    display: block;
  }
  .content-container-board {
    max-height: calc(100vh - 160px);
  }
  .board-overlay {
    z-index: 999;
  }
}
