::-webkit-datetime-edit { color: var(--placeholder-color) }

.content-container {
    margin-top: 80px;
    padding: 48px 16px 0 16px;
}

.input_at {
    padding: 10px 21px !important;
}
.due_date_at {
    padding: 10px 15px 10px 21px !important;
}

.input_at input,
.textarea-style {
    font-size: 20px !important;
}

.rotate-arrow {
    width: 12px; 
    height: 12px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 300ms ease;
}

.rotate-arrow.upsidedown {
    transform: rotate(180deg);
}

.at-dropdown {
    position: relative;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.at-dropdown.active {
    overflow-y: auto;
    opacity: 1;
    max-height: 300px;  
}

.at-label-style {
    margin-block: 8px;
    font-size: 22px;
    transition: font-size 300ms  ease-in-out;
}

.at-label-style.shrink-font-size {
    font-size: 16px;
}

.at-label-style sup,
.content-bottom-container span sup {
    color: #FF8190;
}

.circle-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 16px;
}

    
.assigned-to-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    padding: 16px 7px;
}

.assigned-to-user {
    display: flex;
    justify-content: start;
    gap: 16px;
    align-items: center;
    font-size: 22px;
}

.assigned-to-box svg {
    margin-right: 52px;
}

.assigned-to-box.selected-contact {
    background: var(--mockup-color);
    border-radius: 10px;
    color: white;
}

.assigned-to-box.selected-contact svg path {
    stroke: white; 
}

.added-contacts {
    position: relative;
    display: flex;
    margin: 8px 0 0 8px;
    z-index: 0; 
}

.left-indent {
    margin-left: -10px; 
}

.at-prio-img {
    display: flex;
    justify-content: space-between;
}

.at-prio-img img {
    height: 45px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0px 10px  var(--placeholder-color);
}

.category-dropdown {
    position: relative;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.cursor {
    cursor: pointer;
}

.category-dropdown.active {
    opacity: 1;
    height: auto;  
    max-height: 300px;  
}

.category-dropdown ul li {
    list-style: none;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
    margin: 4px;
}

.category-dropdown ul li.selected-contact {
    background: var(--mockup-color);
    border-radius: 10px;
    color: white;
}

.subtasks-decision-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.vertical-line {
    height: 24px;
    width: 1px;
    border-radius: 1px;
    background: var(--placeholder-color);
}

.d-none {
    display: none;
}

.subtask-list {
    margin-block: 8px;
}

.subtask-list ul  {
  list-style-position: inside;
  
}

.subtask-list ul li {
    font-size: 22px;
    padding: 14.5px 0px 14.5px 16px;
}
