.content-container {
    margin-top: 80px;
    padding: 48px 16px 0 16px;

}

.default-text::placeholder {
    color: black !important;
}

.input_at {
    padding: 10px 21px !important;
}
.input_at input {
    font-size: 16px !important;
}



.rotate-arrow {
    width: 12px; 
    height: 12px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 300ms ease;
}
.rotate-arrow.upsidedown {
    transform: rotate(180deg);
}

.dropdown {
    height: 0;
    opacity: 0;
    overflow-y: auto;
    transition: all 300ms ease-in-out;
}

.dropdown.active {
    height: 100px;
    opacity: 1;
}