/* Mobile view */

.displayNone {
    display: none;
}

.contactsContent {
    display: flex;
    overflow-y: auto;
}

.allContacts {
    position: relative;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 60px;
    height: 100vh;
    width: 100vw;
}

.addContactButtonContainerMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;  
    margin-right: 1em;
    margin-bottom: 3em;    
}

.addContactImageMobile {
    width: 352px;
}

.addContactContainerHeaderMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--mockup-color);
}

.addContactCloseXContainerMobile {    
    position: fixed;
    top: 1em;
    right: 2em;
}

.addContactCloseXButtonMobile {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: var(--white-color);
    font-weight: bold;
    font-size: 24px;
    background-color: var(--mockup-color);    
}

.addContactCloseXButtonMobile:active {
    color: var(--light-blue);
}

.addContactBlockHeaderMobile {
    display: block;
}

.addContactH1Mobile {
    color: var(--white-color);;
    font-size: 3rem;
}

.addContactTextMobile {
    color: var(--white-color);;
}

.addContactBlueStrokedMobile {
    margin-right: 7em;
}

.addContactBlankUserImgMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addContactContainerFooterMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--white-color);
    gap: 20px;
}

.addContactInputNameMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactUserNameImg.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.addContactInputMailAddresssMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactMailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.addContactInputPhoneMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.createContactButtonImg {
    height: 51px;
    cursor: pointer;
}

.addContactButtonImgMobile {
    height: 51px;    
    cursor: pointer;    
}

.letterAndContactsContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid var(--placeholder-color);
    padding-bottom: 10px;    
}

.letter-column {
    display: flex;
    flex-direction: column;
}

.contact-first-letter {
    margin: 0;
    margin-left: 40px;
}

.oneContactContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.contact-info-container {
    display: flex;    
    flex: 1;    
    cursor: pointer;
    padding: 15px 24px 15px 24px;
}

.oneContactContainerH2Mobile {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}

.oneContactContainerAElement {
    color: var(--hyper-link-color);
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}

.openContactUserImgMobile {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid var(--white-color);
}

/* Open Contakt Overlay Mobile */

.overlay  {
    position: fixed;
    width: 100%;
    height: 100%;
}

.openContactContainerHeader {
    display: flex;
    background-color: var(--white-grey);
    height: 20vh;
    padding-top: 2em;    
}

.openContactCloseXContainer {
    position: fixed;
    top: 1em;
    right: 2em;
}

.openContactBlockHeader {
    display: flex;
    margin-left: 1em;
}

.openContactH1 {
    color: var(--black-color);  
    font-size: 3rem;
    font-weight: bold;
}

.openContactBlueStroked {
    margin-right: 7em;
}

.openContactUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.openContactInputNameMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactUserNameImg.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.openContactInputMailAddresssMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactMailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.openContactInputPhoneMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.openContactInputPhoneMobile:focus {
    outline: none;
    border-color: var(--mockup-highlight);
}

.openContactText {
    color: black;
}

.addContactBlueStroked {
    margin-right: 7em;
}

.arrorLeftContainer {
    position: absolute;
    top: 105h;
    right: 5vw;
    cursor: pointer;
}

.openContactContainerFooter {
    display: flex;    
    flex-direction: column;    
    gap: 2em;
    background-color: var(--white-grey);
    height: 80vh;
}

.openContactUserImageAndNameContainer {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.openContactH2 {
    font-size: 1.5em;
    margin-left: 0.5em;
}

.openContactInformation {
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
}

.openContactEmail {
    font-weight: 900;
    margin-left: 1em;
}

.openContactEmailLink {
    color: var(--hyper-link-color);
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
}

.openContactPhoneText {
    font-weight: 900;
    margin-left: 1em;
}

.openContactPhoneNumber {
    margin-left: 1em;
}

.dropdown-container {
    position: fixed;
    display: none;
    overflow-x: hidden;
    bottom: 6rem;
    right: 0.5rem;
}

.dropdown-triggerContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px; 
}

.dropdown-trigger {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1.5em;
    margin-top: 16em;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 5em;
    border-radius: 15px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    animation: slide-in-menu 0.3s ease forwards;
}

.dropdown-menu.slide-in {
    display: block;    
}

@keyframes slide-in-menu {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
}

.dropdown-option:hover {
    cursor: pointer;
    background-color: var(--mockup-highlight);
}

#contactOptionsDropdownContainer {    
    display: inline-block;
}

.member-icon {
    border-radius: 100%;
}

.editContactContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--mockup-color);
    
}

.editContactCloseXContainer {
    display: flex;
    justify-content: right;
}

.EditContactUserImg {    
    height: 32px;
    width: 32px;    
}

.addContactCloseXContainer {    
    position: fixed;
    top: 1em;
    right: 2em;    
}

.addContactBlockHeader {
    display: block;
}

.addContactH1 {
    color: white;
    font-size: 3rem;
}

.addContactBlankUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addContactContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    gap: 20px;
}

.modal-content-mobile {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-content-mobile button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
  
.cancelContactMobileDeleteButton {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    box-shadow: 0 4px 8px rgb(255, 255, 255, );   
    padding: 15px 24px 15px 24px;
    color: var(--light-grey);
    background-color: var(--white-color);
    font-size: 21px;
    font-weight: 400;
    border-color: var(--light-grey);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
  
.cancelContactMobileDeleteButton:hover {
    border: 1px solid;
    border-color: var(--light-blue);
    color: var(--light-blue);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid;
}
  
.removeContactConfirmationTextMobile {
    color: black;
    font-size: 5vw;
    font-weight: 400;
}
  
.cancelContactDesktopDeleteButtonConfirmationContainerMobile {
    margin-top: 1.5rem;
}

.contactsContentRightSide {
    display: none !important;
}

/* Desktop view */
/*-----------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 2500px) and (min-width: 760px) {
    .allContacts {        
        position: relative;
        overflow-y: auto;
        padding-top: 100px;
        padding-bottom: 60px;
        margin-left: 240px;
        max-width: 30vw;
    }

    .letterAndContactsContainer {
        display: flex;
        align-items: center;
        margin: 10px;
        border-bottom: 2px solid var(--placeholder-color);
        padding-bottom: 10px;
    }

    .addContactButtonContainerDesktop {
        display: flex;    
        align-items: center;
        position: sticky;
        bottom: 32px;
        right: 32px;
        cursor: pointer;
        margin-top: 4vh;
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 2vh;
        height: 27px;    
    }

    .addContactButtonDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 4vw;
        margin-top: 2vh;
        margin-bottom: 1vh;
        background-color: var(--mockup-color);
        border: 0;
        border-radius: 10px;
        color: var(--white-color);
        padding: 12px 0 12px 0;
        font-size: 21px;
        font-weight: 700;
        gap: 16px;    
        flex-shrink: 0;
        text-align: center;
        background-size: 10%;
        cursor: pointer;
    }
    
    .addContactButtonDesktop:hover {
        background-color: var(--mockup-highlight);
    }
    
    .addContactButtonDesktopImg {    
        width: 32px;
        height: 32px;    
    }

    .oneContactContainer {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 1em;
        cursor: pointer;
        border-radius: 10px;
    }

    .oneContactContainerH2Desktop {
        color: black;
        font-size: 20px;
        font-weight: 400;
    }

    .contact-first-letter-desktop {
        margin: 0;
    }

    .contact-info-container-Desktop {
        display: flex;
        flex-direction: column;  
        flex: 1;    
        cursor: pointer;
        padding: 15px 24px 15px 24px;
    }

    .oneContactContainerAElementDesktop {
        color: var(--hyper-link-color);
        text-decoration: none;
        cursor: pointer;        
    }

    .contactsContentRightSide {
        display: flex !important;
        flex-direction: column;
        min-width: calc(70vw - 232px);
        background-color: var(--white-grey);
        /* position: sticky; */
        top: 10px;
        /* max-height: calc(100vh - 100px); /* Calculate the maximum height (100vh minus header-height) */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        margin-top: 40px;
    }

    .contactsContentRightSideHeadLine {
        display: flex;
        align-items: flex-start;
        align-items: center;
        gap: 30px;
        margin-left: 2em;
        margin-top: 5em;
    }

    .contactsContentRightSideH1 {
        font-size: 4vw;
        font-weight: 700;
        color: black;
    }

    .contactsContentRightSideHeadLinePElement {
        font-size: 1.5vw;
        font-weight: 400;
        color: black;
    }

    @keyframes slide-in-desktop {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
    }

    .contactsContentRightSideBlueStribeSvg {
        height: 4vw;
    }

    .contactsContentRightSideUserImgAndNameContainer {
        display: flex;
        align-items: flex-start;
        align-items: center;
        gap: 5em;
        margin-left: 2em;
        margin-top: 5em;
    }

    .contactsContentRightSideUserNameH2 {
        font-size: 40px;
        font-weight: 500;
    }

    .contactsContentRightSideEditAndDeleteButtonContainer {
        display: flex;
    }

    .contactsContentRightSideEditButton {
        height: 2vw;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    
    .contactsContentRightSideEditButton:hover {
        filter: saturate(400%) brightness(550%);
    }
    
    .contactsContentRightSideDeleteButton {
        height: 2vw;    
        cursor: pointer;
        margin-left: 30px;
        transition: background-color 0.3s ease;
    }
    
    .contactsContentRightSideDeleteButton:hover {
        filter: saturate(400%) brightness(550%);
    }

    .contactsContentRightSideContactInformationDesktop {
        margin-top: 59px;
        margin-left: 2em;
    }

    .contactsContentRightSideContactInformationDesktopPText {
        color: black;
        font-size: 2.5vw;
        font-weight: 400;
    }

    .contactsContentRightSideContactEmailH2Desktop {
        margin-top: 59px;
        margin-left: 2em;
    }

    .contactsContentRightSideContactEmailH2 {
        font-size: 1.5vw;
        font-weight: 700;
    }

    .openContactEmailLinkDesktopContainer {
        margin-top: 20px;
    }

    .openContactEmailLinkDesktop {
        cursor: pointer;
        text-decoration: none;
        color: #007cee;
        margin-left: 2rem;
        cursor: pointer;
        font-size: 1.5vw;
    }
    
    .openContactEmailLinkDesktop:hover {
        color: var(--mockup-highlight);
    }

    .contactsContentRightSideContactPhoneH2DesktopContainer {
        margin-top: 20px;
        margin-left: 2em;
    }

    .contactsContentRightSideContactPhoneH2Desktop {
        font-size: 1.5vw;
        font-weight: 700;
    }

    .openphoneNumberDesktopContainer {
        margin-top: 20px;
        margin-left: 2em;
    }

    .openphoneNumberDesktopPElement {
        font-size: 1.5vw;
        font-weight: 400;
    }

    .openContactUserImgDesktop {
        height: 120px;
        min-width: 120px;    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 8px solid white;
        position: relative;
    }
}