.addContactButtonContainerMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;  
    margin-right: 1em;
    margin-bottom: 8em;
    height: 30vh;
}

.addContactImageMobile {
    width: 352px;
}

.addContactContainerHeaderMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--mockup-color);
}

.addContactCloseXContainerMobile {
    position: fixed;
    top: 1em;
    right: 2em;
}

.addContactCloseXButtonMobile {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: var(--white-color);
    font-weight: bold;
    font-size: 24px;
    background-color: var(--mockup-color);
}

.addContactBlockHeaderMobile {
    display: block;
}

.addContactH1Mobile {
    color: var(--white-color);;
    font-size: 3rem;
}

.addContactTextMobile {
    color: var(--white-color);;
}

.addContactBlueStrokedMobile {
    margin-right: 7em;
}

.addContactBlankUserImgMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addContactContainerFooterMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--white-color);
    gap: 20px;
}

.addContactInputNameMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactUserNameImg.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

.addContactInputMailAddresssMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactMailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

.addContactInputPhoneMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

.createContactButtonImg {
    height: 51px;
}

.letterAndContactsContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid var(--placeholder-color);
    padding-bottom: 10px;
}

.letter-column {
    display: flex;
    flex-direction: column;
}

.contact-first-letter {
    margin: 0;
    margin-left: 40px;
}

.oneContactContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.contact-info-container {
    display: flex;    
    flex: 1;    
    cursor: pointer;
    padding: 15px 24px 15px 24px;
}

.oneContactContainerH2Mobile {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
}

.oneContactContainerAElement {
    color: var(--hyper-link-color);
    text-decoration: none;
    cursor: pointer;
}

.openContactUserImgMobile {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid var(--white-color);
}

/* Open Contakt Overlay Mobile */

.openContactContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--placeholder-color);
}

.openContactCloseXContainer {
    position: fixed;
    top: 1em;
    right: 2em;
}

.addContactCloseXButtonMobile {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: var(--white-color);
    font-weight: bold;
    font-size: 24px;
    background-color: var(--mockup-color);
}

.openContactBlockHeader {
    display: block;
}

.openContactH1 {
    color: var(--white-color);
    font-size: 3rem;
}

.openContactBlueStroked {
    margin-right: 7em;
}

.openContactUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.openContactContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    gap: 20px;
}

.openContactInputNameMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactUserNameImg.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

.openContactInputMailAddresssMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactMailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

.openContactInputPhoneMobile {
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    background-image: url("../assets/img/contacts/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}

  .openContactInputPhoneMobile:focus {
    outline: none;
    border-color: var(--mockup-highlight);
}