.desktop-footer {
    background-color: #2a3647;
    width: 232px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.desktop-logo {
    width: 100px;
    height: 122px;
    padding: 64px 66px 114px 66px;
}

.menu-box {
    width: 232px;
    height: 229px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer-icon-box {
    height: 46px;
    width: 165px;
    padding-left: 66px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon {
    height: 30px;
    width: 30px;
    color: #a8a8a8;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
}

.data-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 52px 64px 52px;
}

.data-link {
    text-decoration: none;
    color: #a8a8a8;
    padding: 8px;
    gap: 8px;
}
