footer {
    height: 80px;
    background-color: #2A3647;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer-icon-box {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-complet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
}

.footer-icon {
    height: 24px;
    width: 20.31px;
}

.footer-link {
    height: 70px;
    width: 80px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    color: white;
}

 .footer-link:active {
    background-color: #091931; 
    border-radius: 16px;
}


