.footer {
    background-color: #2a3647;
    position: absolute;
    width: 232px;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 999;
    
}

.desktop-logo {
    height: 122px;
    padding: 64px 66px 114px 66px;
}

.menu-box {
    height: 229px;
    margin-top: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.footer-icon-box {
    height: 46px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-icon-box:hover {    
    background-color: var(--focus-color-btn);
}

.footer-icon {
    height: 30px;
    width: 30px;
    color: #a8a8a8;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
    cursor: pointer;
}

.footer-link:hover {
    color: var(--white-color);
}

.desktop-data-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 52px 64px 52px;
}

.desktop-data-link {
    text-decoration: none;
    color: #a8a8a8;
    padding: 8px;
    gap: 8px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.desktop-data-link:hover {
    color: var(--mockup-highlight);
    cursor: pointer;
    transform: scaleX(1.2);
    font-size: 1rem;
}

@media (max-width: 760px) {

    .footer {
        height: 80px;
        width: auto;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .desktop-logo {
        display: none;
    }

    .menu-box {
        height: auto;
        margin-top: 0;      
    }
    .menu-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    
    .footer-icon-box {
        height: 80px;
        width: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-icon {
        height: 24px;
        width: 20.31px;
        height: 24px;
        width: 20.31px;
    }
    
    .footer-link {
        height: 70px;
        width: 80px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        color: white;
    }
    .desktop-data-box {
        display: none;
    }
}


