:root {
  --mockup-color: #2a3647;
  --mockup-highlight: #29abe2;
  --placeholder-color: #d1d1d1;
  --white-color: #ffffff;
  --black-color: #000000;
  --hyper-link-color: #007cee;
  --err-msg-color: #ff3333;
  --white-grey: #f6f7f8;
  --white-grey2: #d9d9d9;
  --focus-color-btn: #091931;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/InterVariableFontslntwght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/InterVariableFontslntwght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/InterVariableFontslntwght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/InterVariableFontslntwght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/InterVariableFontslntwght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: var(--white-grey);
}
h1 {
  font-size: 47px;
}
h2 {
  font-size: 27px;
}
a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mockup-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: background-color 200ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--focus-color-btn);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f2f2fd6;
  z-index: 1000;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: var(--mockup-color);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
  transition: all 200ms ease-in-out;
}
.tooltip svg {
  height: 18px;
  width: 18px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 305px;
  background-color: var(--mockup-color);
  color: #fff;
  text-align: left;
  border-radius: 20px 20px 0px 20px;
  padding: 12px;
  font-weight: 100;
  position: absolute;
  z-index: 1000;
  bottom: 120%;
  right: 50%;
  margin-left: -60px;
  box-shadow: 0 4px 8px #2a364739;
}
.tooltip .tooltiptext-pw {
  width: 275px;
}
.tooltiptext ul {
  list-style: circle inside;
}
.success-msg-popup {
  position: fixed;
  top: calc(50%);
  left: calc(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: var(--mockup-color);
  height: 74px;
  width: 326px;
  border-radius: 20px;
  z-index: 1000;
  transform: translate(-50%, 700%);
  transition: all 200ms ease-in-out;
}
.trans-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: transparent;
}
.success-msg-popup span {
  color: white;
  font-size: 22px;
}
.success-msg-popup img {
  width: 24px;
  height: 28px;
}
.success-msg-popup.slide-sm {
  transform: translate(-50%, 300%);
}
.filled-btn,
.white-btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-size: 22px;
  width: 180px;
  height: 45px;
  cursor: pointer;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}
.filled-btn {
  background-color: var(--mockup-color);
  color: white;
  border: 1px solid var(--mockup-color);
}
.white-btn {
  border: 1px solid var(--mockup-color);
  color: var(--mockup-color);
  transition: all 200ms ease-in-out;
}
.white-btn:hover svg path {
  stroke: var(--mockup-highlight);
  transition: stroke 200ms ease-in-out;
}
.white-btn:active svg path {
  stroke: var(--focus-color-btn);
}
.filled-btn:active {
  background-color: var(--focus-color-btn);
  border: 2px solid var(--focus-color-btn);
}
.width-small {
  width: 104px !important;
  gap: 4px;
}
.very-width-small {
  width: 89px !important;
  gap: 4px;
}
.width-big {
  width: 104px !important;
}
input {
  background: transparent;
}
.input_global,
.textarea-style {
  position: relative;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid var(--placeholder-color);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 21px;
}
.color-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  padding-left: 21px;
  color: var(--placeholder-color);
}
.color-span {
  flex: 1;
  word-wrap: break-word;
  overflow-x: auto;
  transition: all 200ms ease-in-out;
}
.input_global input {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin-right: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}
.textarea-style {
  resize: none;
  outline: none;
  line-height: 24px;
  height: 140px;
  padding: 18px 21px;
}
.textarea-style:focus-within {
  border-color: var(--mockup-highlight);
}
.error-border {
  border: 1px solid var(--err-msg-color);
}
input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
  transition: font-size 200ms ease-in-out;
}
.input_global:focus-within {
  border-color: var(--mockup-highlight);
}
.err-msg-color {
  color: var(--err-msg-color);
}
.err-msg {
  position: absolute;
  top: 55px;
  left: 0;
  color: var(--err-msg-color);
  font-size: 12px;
}
.inApp-err-msg {
  color: var(--err-msg-color);
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}
.d-none {
  display: none;
}
@media (max-width: 466px) {
  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 270px;
    font-size: 14px;
  }
  .tooltip .tooltiptext-pw {
    width: 245px;
  }
}
@media (min-width: 761px) {
  .filled-btn:hover {
    background-color: var(--mockup-highlight);
    border: 2px solid var(--mockup-highlight);
    box-shadow: 0 6px 5px #2a364739;
  }
  .filled-btn:active {
    background: var(--focus-color-btn);
    border: 2px solid var(--focus-color-btn);
  }
  .white-btn:hover {
    border: 2px solid var(--mockup-highlight);
    color: var(--mockup-highlight);
    box-shadow: 0 6px 5px #2a364739;
  }
  .white-btn:active {
    border: 2px solid var(--focus-color-btn);
    color: var(--focus-color-btn);
  }
  .success-msg-popup {
    transform: translate(calc(-50% + 116px), 800%);
  }
  .success-msg-popup.slide-sm {
    transform: translate(calc(-50% + 116px), 100%);
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}
@media (max-width: 761px) {
  .white-btn:active {
    border: 2px solid var(--focus-color-btn);
    color: var(--focus-color-btn);
  }
  .success-msg-popup {
    height: 55px;
    width: 285px;
    transform: translate(calc(-100% + 116px), 900%);
  }
  .success-msg-popup span {
    font-size: 18px;
  }
  .tooltip:active .tooltiptext {
    visibility: visible;
  }
}
@media (max-width: 438px) {
  .error-page span {
    font-size: 26px;
    transition: all 200ms ease-in-out;
  }
}
@media (max-width: 400px) {
  .tooltip .tooltiptext {
    width: 200px;
    font-size: 10px;
    right: 10%;
  }
  .tooltip .tooltiptext-pw {
    width: 180px;
  }
}
@media (max-width: 371px) {
  .error-page span {
    font-size: 22px;
  }
  .success-msg-popup {
    width: 250px;
  }
  .success-msg-popup span {
    font-size: 16px;
  }
}
@media (min-width: 1341px) and (max-height: 455px) {
  .tooltip .tooltiptext {
    border-radius: 20px 0px 20px 20px;
    bottom: -580%;
  }
}
