.show-overlay {
  position: absolute;
  top: 96px;
  bottom: 80px;
  left: 0;
  right: 0;
  height: auto;
  z-index: 989;
  max-width: 1440px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.show-overlay.show-card-visible {
  transform: translateX(0%);
}

.open-contacts-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 45px 0 48px 16px;
  transition: all 300ms ease-in-out;
}
.open-contacts-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 10px;
  right: 16px;
  border-radius: 50%;
  padding: 4px;
}

.open-contacts-header h1 {
  text-wrap: wrap;
  font-weight: bold;
  font-size: 64px;
  transition: all 300ms ease-in-out;
}
.open-contacts-header span {
  font-size: 24px;
  transition: all 300ms ease-in-out;
}
.horizontal-bar {
  margin-top: 16px;
  height: 3px;
  width: 110px;
  border: 3px;
  background: var(--mockup-highlight);
}

.open-contacts-name {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 16px;
}

.contact-name {
  flex: 1;
  padding-right: 16px;
  overflow-x: auto;
  word-wrap: break-word;
}

.open-contacts-name span {
  font-size: 36px;
  font-weight: 700;
}

.desktop-menu-container {
  display: none;
  margin-top: 11px;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 10px;
}

.desktop-menu span {
  font-size: 18px;
  font-weight: 400;
  margin-right: 16px;
  color: var(--mockup-color);
}

.desktop-edit-span-small {
  width: auto;
}
.desktop-edit-span-large {
  width: auto;
}
.contact-name {
  margin-left: 34px;
  transition: all 300ms ease-in-out;
}
.contact-name span {
  text-wrap: wrap;
}

.open-contacts-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 27px;
  border: 2px solid white;
  transition: all 300ms ease-in-out;
}

.contact-info {
  margin: 21px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}
.contact-info h2 {
  font-size: 24px;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

.contact-method {
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-size: 20px;
  word-wrap: break-word;
  transition: all 300ms ease-in-out;
}

.contact-method span {
  font-weight: 700;
}

.contact-method span:last-child {
  font-weight: 400;
}

.contact-method a {
  color: var(--hyper-link-color);
}

@media (min-width: 761px) {
  .show-overlay {
    background: white;
    left: 232px;
    bottom: 0px;
  }
  .open-contacts-arrow:hover {
    background: var(--mockup-color);
  }
  .open-contacts-arrow:active {
    background: var(--focus-color-btn);
  }
  .open-contacts-arrow:active svg path {
    fill: white;
  }
  .open-contacts-circle {
    width: 120px;
    height: 120px;
    font-size: 47px;
  }
  .contact-name span:first-child {
    font-size: 47px;
  }
}
@media (max-width: 760px) {
  .show-overlay {
    background: white;
  }
  .open-contacts-arrow:active {
    background: var(--placeholder-color);
  }
  .contact-name {
    margin-left: 0px;
  }
}

@media (max-width: 457px) {
  .open-contacts-header h1 {
    font-size: 41px;
  }
  .open-contacts-header span,
  .contact-method {
    font-size: 16px;
  }
  .open-contacts-name span {
    font-size: 30px;
  }
  .open-contacts-circle {
    height: 60px;
    width: 60px;
    font-size: 23px;
  }
  .contact-info h2 {
    font-size: 20px;
  }
}

@media (min-width: 1341px) {
  .show-overlay {
    background: transparent;
    position: fixed;
    box-shadow: 0 0 14px #2a364739;
    border-radius: 24px;
    top: 297px;
    right: 16px;
    bottom: 16px;
    padding: 32px;
    left: calc(232px + 455px);
    max-height: 500px;
    transform: translateX(100%);
  }
  .open-contacts-header {
    display: none;
  }
  .desktop-menu-container {
    display: flex;
    align-items: center;
  }
  .open-contacts-name {
    margin-left: 10px;
  }
}

@media (min-width: 2500px) {
  .show-overlay {
    transform: translateY(200%);
  }
}

@media (max-height: 700px) and (max-width: 1340px) {
  .open-contacts-header {
    margin: 16px 0 16px 16px;
  }
  .show-overlay {
    max-height: none;
    padding-bottom: 8px;
    overflow-y: auto;
  }
  .contact-method {
    gap: 6px;
  }
  .contact-info {
    gap: 8px;
  }
  .open-contacts-header h1 {
    font-size: 41px;
  }
  .open-contacts-header span,
  .contact-method {
    font-size: 16px;
  }
  .open-contacts-name span {
    font-size: 30px;
  }
  .open-contacts-circle {
    height: 60px;
    width: 60px;
    font-size: 23px;
  }
  .contact-info h2 {
    font-size: 20px;
  }
}
@media (max-height: 752px) and (min-width: 1341px) {
  .show-overlay {
    top: 216px;
  }
}
@media (max-height: 675px) and (min-width: 1341px) {
  .contact-info {
    gap: 8px;
  }
  .open-contacts-circle {
    width: 95px;
    height: 95px;
    font-size: 32px;
  }
  .contact-name span:first-child {
    font-size: 32px;
  }
}
@media (max-height: 578px) and (min-width: 1341px) {
  .show-overlay {
    box-shadow: none;
    max-height: 340px;
    overflow-y: auto;
    padding: 0px 8px 16px 32px;
  }
  .contact-method {
    gap: 6px;
  }
  .contact-info {
    margin-top: 8px;
  }
}
