* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.card {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
    margin-bottom: 16px;
    padding: 8px;
}

ul, ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }