input[type="date"] {
  color: var(--placeholder-color);
}
input#session-date {
  display: inline-block;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.event-style {
  margin-right: 2px;
}
.at-subtasks {
  position: relative;
}
.subtask-err-msg {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  color: var(--err-msg-color);
  top: 4px;
  left: 108px;
  transition: all 200ms ease-in-out;
}
.bottom-btns-container {
  transition: all 200ms ease-in-out;
}
.content-container {
  position: sticky;
  overflow-y: auto;
  max-height: calc(100vh - 364px);
  margin: 210px 0 0 0;
  padding: 0 16px 16px 16px;
  z-index: 100;
  transition: all 200ms ease-in-out;
}

.section-title {
  position: absolute;
  font-size: 54px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.input_at {
  max-width: none !important;
  padding: 10px 21px !important;
}

.due_date_at {
  padding: 10px 15px 10px 21px !important;
  max-width: none !important;
}

.input_at input,
.textarea-style {
  font-size: 20px !important;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.textarea-style {
  max-width: none;
}

.rotate-arrow {
  width: 12px;
  height: 12px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 200ms ease;
}

.at-asignedTo {
  color: var(--mockup-color);
}

.plus-btn {
  margin-right: -5px;
}

.rotate-arrow.upsidedown {
  transform: rotate(180deg);
}

.at-dropdown {
  position: relative;
  background: #2a36471e;
  border-radius: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.at-dropdown.active {
  overflow-y: auto;
  opacity: 1;
  max-height: 200px;
}

.at-label-style {
  margin-bottom: 8px;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}

.required {
  color: #ff8190;
}

.content-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: absolute;
  font-size: 20px;
  padding-inline: 16px;
  height: 85px;
  left: 0;
  right: 0;
  bottom: 80px;
  z-index: 1000;
  transition: all 200ms ease-in-out;
}

.circle-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  outline: 2px solid white;
  border-radius: 50%;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.assigned-to-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 4px;
  padding: 16px 7px;
  border-radius: 10px;
}

.assigned-to-user {
  display: flex;
  justify-content: start;
  gap: 16px;
  align-items: center;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}

.assigned-to-user span {
  max-width: 50vw;
  overflow-x: auto;
}

.assigned-to-box svg {
  margin-right: 52px;
}

.assigned-to-box.selected-contact-at {
  background: var(--mockup-color);
  border-radius: 10px;
  color: white;
}

.assigned-to-box.selected-contact-at svg path {
  stroke: white;
}

.added-contacts {
  position: relative;
  display: flex;
  margin: 8px 0 0 8px;
  z-index: 0;
}

.left-indent {
  margin-left: -10px;
}

.at-prio-img {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.at-prio-img img {
  height: 45px;
  width: 130px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0px 14px #2a364739;
  transition: all 200ms ease-in-out;
}

.at-prio-img-green:active {
  box-shadow: 0 0px 5px #7ae229;
}

.at-prio-img-yellow:active {
  box-shadow: 0 0px 5px #ffa800;
}

.at-prio-img-red:active {
  box-shadow: 0 0px 5px #ff3d00;
}

.category-dropdown {
  position: relative;
  background: #2a36471e;
  border-radius: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

.category-dropdown.active {
  opacity: 1;
  overflow-y: auto;
  height: auto;
  max-height: 300px;
}

.category-dropdown ul li {
  list-style: none;
  padding: 12px 16px;
  font-size: 22px;
  cursor: pointer;
  margin: 4px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.category-dropdown ul li.selected-contact-at {
  background: var(--mockup-color);
  border-radius: 10px;
  color: white;
}

.subtasks-decision-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.vertical-line {
  height: 24px;
  width: 1px;
  border-radius: 1px;
  background: var(--placeholder-color);
}

.subtask-list {
  overflow-y: auto;
  margin-block: 8px;
  max-height: 160px;
}

.subtask-list ul li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 22px;
  padding: 12.5px 16px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.subtask-list ul li.blue-line-highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--mockup-highlight);
}

.subtask-list ul li.red-line-highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--err-msg-color);
}

.disabled-svg {
  pointer-events: none;
  opacity: 0.5;
}

.subtask-list ul li::before {
  content: "\2022";
  margin-right: 10px;
}

.subtask-svg {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  cursor: pointer;
}

.editable-span {
  width: 100%;
  border: none;
  background: none;
  font-size: 22px;
  outline: none;
  word-wrap: break-word;
  transition: all 200ms ease-in-out;
  margin-right: 8px;
}

.hide-clear-btn {
  display: none;
}

.hidden-Edit_menu {
  display: none;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  cursor: pointer;
}

li:hover .hidden-Edit_menu {
  display: flex;
}

.err-msg-flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rotate-err-arrow {
  transform: rotate(90deg);
  transition: all 200ms ease-in-out;
}

.rotate-err-arrow path {
  fill: var(--err-msg-color);
}

.d-none {
  display: none;
}
