.summary-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  transition: all 100ms ease-in-out;
}

.summary-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 200ms ease-in-out;
}

.summary-greeting {
  font-size: 36px;
  display: none;
}

.greetings-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 500;
  color: var(--mockup-color);
  font-size: 47px;
  margin-bottom: 16px;
}

.user-highlight {
  font-weight: 700;
  color: var(--mockup-highlight);
  font-size: 64px;
}

.summary-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.summary-title h1 {
  text-wrap: nowrap;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.summary-title span {
  font-size: 22px;
  color: var(--mockup-color);
  text-wrap: wrap;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.separator-mobile {
  width: 90px;
  height: 3px;
  margin-top: 16px;
  border-radius: 10px;
  background-color: var(--mockup-highlight);
  transition: all 200ms ease-in-out;
}

.summary-row {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover-left span,
.hover-middle span,
.hover-right span {
  transition: all 100ms ease-in-out;
}

.box-1 {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background: white;
}

.middle-box {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.box-1 svg,
.middle-box svg {
  width: 60px;
  height: 60px;
}

.top {
  cursor: pointer;
  padding: 38px 19px 38px 19px;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, font-size 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.middle-section {
  position: relative;
  background: white;
  cursor: pointer;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, font-size 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.tasks-info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 47px;
  border-radius: 20px;
  font-weight: 600;
  padding: 25px 0 25px 0;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, font-size 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.tasks-info span:last-child {
  font-size: 22px;
  font-weight: 400;
  color: var(--mockup-color);
  transition: all 200ms ease-in-out;
  text-align: center;
}

.summary-icon {
  height: 40px;
  margin-right: 10px;
}

.summary-change-content {
  font-size: 47px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: font-size 200ms ease-in-out;
}

.summary-change-content span:last-child {
  font-size: 22px;
  font-weight: 400;
  color: var(--mockup-color);
  transition: font-size 200ms ease-in-out;
}

.separator2 {
  height: 102px;
  width: 3px;
  border-radius: 10px;
  background-color: var(--placeholder-color);
  margin: 21px 0 21px 0;
  transition: height 200ms ease-in-out;
}

.summary-info {
  color: var(--mockup-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  gap: 8px;
  transition: font-size 200ms ease-in-out;
}

.summary-info span:last-child {
  font-size: 18px;
  font-weight: 400;
  transition: font-size 200ms ease-in-out;
}

.middle-section,
.tasks-info,
.top {
  box-shadow: 0 0 14px #2a364739;
}

.middle-section {
  padding: 28px 24px 28px 24px;
}

.expire-tooltip {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.tooltip-summary {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
  transition: all 200ms ease-in-out;
}

.tooltip-summary svg {
  height: 18px;
  width: 18px;
  background: transparent;
}

.tooltip-summary svg path {
  fill: var(--err-msg-color);
}

.tooltip-summary .summary-tooltiptext {
  visibility: hidden;
  width: 205px;
  color: #fff;
  text-align: left;
  border-radius: 20px 20px 0px 20px;
  padding: 12px;
  font-weight: 100;
  position: absolute;
  z-index: 1000;
  bottom: 120%;
  right: 50%;
  margin-left: -60px;
  box-shadow: 0 4px 14px #2a364739;
}
.bottom-hover-container {
  position: relative;
}
.summary-tooltiptext ul {
  list-style-type: none;
}

.d-none {
  display: none;
}
@media (min-width: 761px) {
  .tooltip-summary:hover .summary-tooltiptext {
    visibility: visible;
    background-color: var(--err-msg-color);
  }
  .tooltip-summary:hover .summary-tooltiptext ul li {
    background-color: var(--err-msg-color);
  }
}
@media (max-width: 760px) {
  .tooltip-summary:active .summary-tooltiptext {
    visibility: visible;
    background-color: var(--err-msg-color);
  }
  .tooltip-summary:active .summary-tooltiptext ul li {
    background-color: var(--err-msg-color);
  }
}
@media (min-width: 1341px) {
  .tooltip-summary .summary-tooltiptext {
    border-radius: 20px 20px 20px 0px;
    right: -200px;
  }
}
