@media (min-width: 761px) {
  .summary-greeting-overlay {
    display: none;
  }
  .summary-wrapper {
    margin: 144px 0 0 calc(232px);
    max-width: 1920px;
  }
  .summary-greeting {
    display: flex;
    justify-content: center;
  }
  .summary-content {
    gap: 16px;
    padding-inline: 32px;
  }
  .summary-title {
    display: flex;
    align-items: center;
  }
  .summary-title h1 {
    font-size: 54px;
  }
  .separator-desktop {
    height: 59px;
    margin-inline: 15px;
    width: 3px;
    border-radius: 10px;
    background-color: var(--mockup-highlight);
    transition: all 200ms ease-in-out;
  }
  .separator-mobile {
    display: none;
  }
  .summary-info {
    text-align: center;
  }
  .summary-column {
    width: 100%;
    margin-bottom: 8px;
    overflow-y: auto;
    height: calc(100vh - 250px);
  }
  .summary-overview {
    gap: 0px;
  }
  .box-1 {
    padding: 0px;
  }
  .box-1 svg,
  .middle-box svg {
    width: 69px;
    height: 69px;
  }
  .summary-secondary {
    text-align: center;
    width: 100%;
  }
  .bottom-section {
    width: auto;
    gap: 16px;
  }
  .hover-left:hover span,
  .hover-middle:hover span,
  .hover-right:hover span,
  .top-left:hover span,
  .top-right:hover span {
    color: inherit;
  }
  .top-left:hover,
  .top-right:hover,
  .hover-left:hover,
  .hover-right:hover,
  .hover-middle:hover {
    background: var(--mockup-color);
    color: white;
  }
  .top-left:hover svg,
  .top-right:hover svg {
    width: 80px;
    height: 80px;
  }
  .top-left:hover svg circle,
  .top-right:hover svg circle {
    fill: white;
  }
  .top-left:hover svg path {
    fill: var(--mockup-color);
  }
  .top-right:hover svg path {
    stroke: var(--mockup-color);
  }
  .top-left:active,
  .top-right:active,
  .hover-left:active,
  .hover-right:active,
  .hover-middle:active {
    background: var(--focus-color-btn);
  }
  .top-left:active svg path {
    fill: var(--focus-color-btn);
  }
  .top-right:active svg path {
    stroke: var(--focus-color-btn);
  }
  .hover-right:hover,
  .top-right:hover {
    transform: translate(-5%, 0%) scale(1.05);
  }
  .hover-left:hover,
  .top-left:hover {
    transform: translate(5%, 0%) scale(1.05);
  }
  .top-section {
    width: auto;
    justify-content: space-between;
    gap: 16px;
  }
  .top {
    width: 202px;
    height: 150px;
  }
  .top-hover-container {
    height: 166px;
  }

  .middle-section:hover,
  .middle-section:hover *,
  .middle-section:hover .summary-change-content span,
  .middle-section:hover {
    background: var(--mockup-color);
    color: white;
  }
  .middle-section:active {
    background: var(--focus-color-btn);
  }
  .middle-section:hover .separator2 {
    background: white;
  }
  .middle-section:hover,
  .hover-middle:hover {
    transform: scale(1.05);
  }
  .middle-section {
    gap: 16px;
    width: 420px;
    height: 150px;
  }
  .middle-hover-container {
    width: 420px;
    height: 166px;
  }
  .user-highlight {
    font-size: 47px;
  }
  .tasks-info {
    width: 129.3px;
  }
}
@media (min-width: 853px) {
  .middle-section {
    gap: 16px;
    width: 490px;
    height: 150px;
  }
  .middle-hover-container {
    width: 490px;
    height: 166px;
  }
  .top-section {
    gap: 16px;
  }
  .top {
    width: 235px;
    height: 150px;
  }
  .top-hover-container {
    height: 166px;
  }
  .bottom-section {
    width: auto;
    gap: 16px;
  }
  .tasks-info {
    width: 152.66px;
  }
  .summary-column {
    box-shadow: 0 0 14px #2a364739;
    padding: 0px 32px 16px 32px;
    background: white;
    border-radius: 24px;
    max-height: 778px;
  }
}

@media (min-width: 900px) {
  .separator-desktop {
    margin-inline: 30px;
  }
}

@media (min-width: 1000px) {
  .summary-column {
    gap: 16px;
  }
  .top-section {
    width: 560px;
    gap: 32px;
  }
  .bottom-section {
    width: 560px;
    gap: 28px;
  }
  .tasks-info {
    width: 168px;
    height: 160px;
  }
  .top {
    width: 264px;
    height: 160px;
  }
  .middle-section {
    width: 560px;
    height: 160px;
  }
  .middle-hover-container {
    width: 560px;
    height: 180px;
  }
  .top-hover-container {
    width: 283px;
    height: 180px;
  }
  .bottom-hover-container {
    width: 184px;
  }
}

@media (min-width: 1341px) {
  .summary-overview {
    align-items: center;
    padding-bottom: 0;
  }
  .summary-title h1 {
    font-size: 64px;
  }
  .summary-wrapper {
    margin: 180px 0 0 calc(232px + 56px);
    width: calc(100vw - 232px - 64px);
    height: calc(100vh - 180px);
  }
  .summary-content {
    gap: 8px;
    padding: 0 56px 8px 8px;
    max-width: 1920px;
  }
  .summary-title {
    margin-left: 32px;
  }
  .summary-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0px;
    box-shadow: 0 0 14px #2a364739;
    padding: 32px;
    border-radius: 24px;
    background: white;
    gap: 32px;
    width: auto;
    max-height: 605px;
    max-width: 1440px;
  }
  .summary-column > div:first-child {
    order: 2;
  }
  .summary-greeting {
    justify-content: start;
    flex: 1;
  }
  .summary-secondary {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 950px) {
  .tooltip-summary .summary-tooltiptext {
    border-radius: 20px 20px 20px 0px;
    left: 400%;
  }
}

@media (max-width: 760px) {
  .summary-greeting-overlay {
    z-index: 989;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 88px;
    bottom: 80px;
    left: 0;
    right: 0;
    background: white;
    animation: animateGreeting 2s forwards;
    transition: all 200ms ease-in-out;
  }
  .greetings-content span {
    text-align: center;
  }
  @keyframes animateGreeting {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  .summary-overview {
    gap: 16px;
  }
  .summary-wrapper {
    margin: 144px 16px 0 16px;
  }
  .summary-title h1 {
    font-size: 54px;
  }
  .summary-content {
    justify-content: start;
    gap: 40px;
  }
  .summary-column {
    width: 100%;
  }
  .bottom-hover-container {
    height: 124px;
  }
  .hover-left:active,
  .hover-right:active,
  .hover-middle:active {
    background: var(--mockup-color);
    color: white;
  }
  .bottom-section {
    width: auto;
    gap: 32px;
  }
  .hover-left:active span,
  .hover-middle:active span,
  .hover-right:active span,
  .top-left:active span,
  .top-right:active span {
    color: inherit;
  }
  .top-left:active,
  .top-right:active {
    background: var(--mockup-color);
    color: white;
  }
  .top-left:active svg,
  .top-right:active svg {
    width: 65px;
    height: 65px;
  }
  .top-left:active svg circle,
  .top-right:active svg circle {
    fill: white;
  }
  .top-left:active svg path {
    fill: var(--mockup-color);
  }
  .top-right:active svg path {
    stroke: var(--mockup-color);
  }
  .hover-right:active,
  .top-right:active {
    transform: translate(-5%, 0%) scale(1.05);
  }
  .hover-left:active,
  .top-left:active {
    transform: translate(5%, 0%) scale(1.05);
  }
  .top-section {
    width: auto;
    gap: 32px;
  }
  .top {
    width: 234px;
    height: 160px;
  }
  .top-hover-container {
    height: 160px;
  }
  .top-hover-container:last-child {
    display: flex;
    justify-content: end;
  }
  .middle-section {
    width: 500px;
    height: 160px;
    gap: 16px;
  }
  .middle-section:active,
  .middle-section:active *,
  .middle-section:active .summary-change-content span,
  .middle-section:active {
    background: var(--mockup-color);
    color: white;
  }
  .middle-section:active .separator2 {
    background: white;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.05);
  }
  .middle-hover-container {
    width: 500px;
    height: 160px;
  }
  .separator2 {
    height: 80px;
  }
  .tasks-info {
    width: 145.33px;
  }
}

@media (max-width: 560px) {
  .tasks-info,
  .summary-change-content {
    font-size: 36px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 20px;
  }
  .summary-info {
    text-align: center;
  }
  .separator-mobile {
    width: 80px;
    margin-top: 8px;
  }
  .box-1 svg,
  .middle-box svg {
    width: 50px;
    height: 50px;
  }
  .box-1,
  .middle-box {
    padding: 19px;
  }
  .summary-info span:last-child {
    font-size: 16px;
  }
  .summary-row {
    gap: 10px;
  }
  .tasks-info {
    width: 88px;
    text-align: center;
  }
  .summary-info {
    width: 180px;
    font-size: 16px;
    padding: 19px 8px 19px 8px;
  }
  .middle-hover-container,
  .middle-section,
  .bottom-section,
  .bottom-hover-container,
  .hover-right,
  .hover-middle,
  .hover-left {
    width: 396px;
    height: 160px;
  }
  .tasks-info {
    width: 124px;
    padding: 8px 0 8px 0;
  }
  .top-left:active svg,
  .top-right:active svg {
    width: 55px;
    height: 55px;
  }
  .separator2 {
    height: 80px;
  }
  .top {
    width: 193px;
  }
}

@media (max-width: 466px) {
  .summary-overview {
    gap: 24px;
  }
  .box-1,
  .middle-section {
    padding: 0;
  }
  .middle-box,
  .summary-info {
    padding: 8px;
  }
  .summary-title h1 {
    font-size: 43px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 14px;
  }
  .summary-info {
    width: 158px;
    font-size: 14px;
  }
  .summary-row {
    justify-content: center;
  }
  .summary-info span:last-child {
    font-size: 14px;
  }
  .middle-hover-container,
  .middle-section,
  .bottom-section,
  .hover-right,
  .hover-middle,
  .hover-left {
    width: 295px;
    height: 110px;
  }
  .top-hover-container,
  .top,
  .bottom-hover-container {
    height: 110px;
  }
  .top-section {
    gap: 10px;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.03);
  }
  .top-left:active,
  .hover-left:active {
    transform: translate(5%, 0%) scale(1.03);
  }
  .top-right:active,
  .hover-right:active {
    transform: translate(-5%, 0%) scale(1.03);
  }
  .top {
    width: 142.5px;
  }
  .tasks-info {
    width: 90px;
  }
  .greetings-content span {
    font-size: 38px;
  }
  .user-highlight {
    font-size: 50px;
  }
}

@media (max-width: 328px) {
  .middle-hover-container,
  .middle-section {
    width: 280px;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.03);
  }
  .summary-content {
    gap: 64px;
  }
}

@media (min-width: 761px) and (max-height: 919px) {
  .summary-wrapper {
    margin: 108px 0 0 calc(232px);
  }
  .summary-column {
    display: block;
    height: calc(100vh - 190px);
    margin-bottom: 0;
  }
  .summary-overview {
    padding-bottom: 16px;
  }
}

@media (min-width: 853px) and (max-height: 900px) {
  .summary-column {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
  }
}

@media (min-width: 1341px) and (max-height: 919px) {
  .summary-wrapper {
    margin: 100px 0 0 calc(232px + 56px);
  }
  .summary-content {
    margin-bottom: 16px;
  }
  .summary-column {
    display: flex;
  }
}
@media (min-width: 1341px) and (max-height: 743px) {
  .summary-column {
    display: block;
  }
}

@media (max-width: 760px) and (max-height: 919px) {
  .summary-wrapper {
    margin: 100px 16px 0 16px;
  }
  .summary-content {
    gap: 16px;
  }
  .summary-column {
    display: block;
    height: calc(100vh - 310px);
    overflow-y: auto;
    padding-block: 32px;
  }
  .summary-overview {
    padding-bottom: 32px;
  }
}
@media (max-width: 466px) and (max-height: 759px) {
  .summary-column {
    height: calc(100vh - 280px);
    padding-block: 8px;
  }
  .summary-overview {
    padding-bottom: 8px;
    gap: 16px;
  }
}

@media (max-width: 760px) and (max-height: 550px) {
  .summary-column {
    height: calc(100vh - 280px);
  }
  .summary-overview {
    padding-bottom: 8px;
  }
  .summary-title h1 {
    font-size: 43px;
  }
  .tasks-info,
  .summary-change-content {
    font-size: 36px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 20px;
  }
  .summary-info {
    text-align: center;
  }
  .separator-mobile {
    width: 80px;
    margin-top: 8px;
  }
  .box-1,
  .middle-box {
    padding: 19px;
  }
  .summary-info span:last-child {
    font-size: 16px;
  }
  .summary-row {
    gap: 10px;
  }
  .tasks-info {
    text-align: center;
    width: 160px;
  }
  .summary-info {
    font-size: 16px;
    padding: 19px 8px 19px 8px;
  }
  .top {
    width: 235px;
  }
}
@media (max-width: 560px) and (max-height: 550px) {
  .tasks-info {
    width: 125.33px;
  }
  .top {
    width: 193px;
  }
}
@media (max-width: 466px) and (max-height: 550px) {
  .tasks-info {
    width: 91.66px;
  }
  .top {
    width: 142.5px;
  }
}
@media (max-width: 364px) and (max-height: 933px) {
  .middle-hover-container,
  .middle-section {
    width: 280px;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.03);
  }
  .summary-content {
    gap: 16px;
  }
  .summary-wrapper {
    margin-inline: 0;
  }
  .summary-title {
    margin-left: 16px;
  }
  .summary-title h1 {
    font-size: 34px;
  }
  .tasks-info,
  .summary-change-content {
    font-size: 26px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 14px;
  }
  .middle-hover-container,
  .middle-section,
  .top-section,
  .bottom-section,
  .hover-right,
  .hover-middle,
  .hover-left,
  .top-hover-container,
  .top-left,
  .top-right,
  .bottom-hover-container {
    height: 100px;
  }
  .top {
    width: 135px;
  }
  .tasks-info {
    width: 86.6px;
  }
  .bottom-hover-container,
  .bottom-section {
    width: auto;
  }
}

@media (max-width: 760px) and (max-height: 454px) {
  .greetings-content {
    font-size: 38px;
  }
  .user-highlight {
    font-size: 54px;
  }
}

@media (max-width: 760px) and (max-height: 360px) {
  .greetings-content {
    margin-top: 16px;
    font-size: 24px;
  }
  .user-highlight {
    font-size: 30px;
  }
}
