@media (min-width: 761px) {
  .summary-wrapper {
    margin: 144px 0 0 calc(232px);
    width: calc(100vw - 232px - 64px);
  }
  .summary-greeting {
    display: flex;
    justify-content: center;
  }
  .summary-content {
    gap: 16px;
    max-height: calc(100vh - 154px);
    padding-left: 32px;
    overflow-y: auto;
  }
  .summary-title {
    display: flex;
    align-items: center;
  }
  .summary-title h1 {
    font-size: 54px;
  }
  .separator-desktop {
    height: 59px;
    margin-inline: 15px;
    width: 3px;
    border-radius: 10px;
    background-color: var(--mockup-highlight);
    transition: all 300ms ease-in-out;
  }
  .separator-mobile {
    display: none;
  }
  .summary-column {
    width: 100%;
    max-width: calc(100vw - 284px);
    align-items: center;
    gap: 32px;
    margin-bottom: 8px;
  }
  .summary-overview {
    gap: 0px;
  }
  .box-1 svg,
  .middle-box svg {
    width: 69px;
    height: 69px;
  }
  .summary-secondary {
    text-align: center;
    width: 410px;
  }
  .bottom-hover-container {
    width: 124px;
  }
  .bottom-section {
    width: 410px;
  }
  .hover-left:hover span,
  .hover-middle:hover span,
  .hover-right:hover span,
  .top-left:hover span,
  .top-right:hover span {
    color: inherit;
  }
  .top-left:hover,
  .top-right:hover,
  .hover-left:hover,
  .hover-right:hover,
  .hover-middle:hover {
    background: var(--mockup-color);
    color: white;
  }
  .top-left:hover svg,
  .top-right:hover svg {
    width: 80px;
    height: 80px;
  }
  .top-left:hover svg circle,
  .top-right:hover svg circle {
    fill: white;
  }
  .top-left:hover svg path {
    fill: var(--mockup-color);
  }
  .top-right:hover svg path {
    stroke: var(--mockup-color);
  }
  .top-left:active,
  .top-right:active,
  .hover-left:active,
  .hover-right:active,
  .hover-middle:active {
    background: var(--focus-color-btn);
  }
  .top-left:active svg path {
    fill: var(--focus-color-btn);
  }
  .top-right:active svg path {
    stroke: var(--focus-color-btn);
  }
  .hover-right:hover,
  .top-right:hover {
    transform: translate(-5%, 0%) scale(1.05);
  }
  .hover-left:hover,
  .top-left:hover {
    transform: translate(5%, 0%) scale(1.05);
  }
  .top-section {
    width: 410px;
    gap: 8px;
  }
  .top {
    width: 180px;
    height: 150px;
  }
  .top-hover-container {
    width: 200px;
    height: 166px;
  }
  .top-hover-container:last-child {
    display: flex;
    justify-content: end;
  }
  .middle-section:hover,
  .middle-section:hover *,
  .middle-section:hover .summary-change-content span,
  .middle-section:hover {
    background: var(--mockup-color);
    color: white;
  }
  .middle-section:active {
    background: var(--focus-color-btn);
  }
  .middle-section:hover .separator2 {
    background: white;
  }
  .middle-section:hover,
  .hover-middle:hover {
    transform: scale(1.05);
  }
  .middle-section {
    gap: 16px;
    width: 410px;
    height: 150px;
  }
  .middle-hover-container {
    width: 410px;
    height: 166px;
  }
  .user-highlight {
    font-size: 47px;
  }
}
@media (min-width: 853px) {
  .middle-section {
    gap: 16px;
    width: 490px;
    height: 150px;
  }
  .middle-hover-container {
    width: 490px;
    height: 166px;
  }
  .top-section {
    width: 490px;
    gap: 16px;
  }
  .top {
    width: 204px;
    height: 150px;
  }
  .top-hover-container {
    width: 223px;
    height: 166px;
  }
  .summary-column {
    gap: 32px;
  }
  .summary-secondary {
    width: 490px;
  }
  .bottom-hover-container {
    width: 124px;
  }
  .bottom-section {
    width: 490px;
  }
}

@media (min-width: 900px) {
  .separator-desktop {
    margin-inline: 30px;
  }
}

@media (min-width: 1000px) {
  .summary-column {
    align-items: start;
  }
  .top-section {
    width: 560px;
    gap: 32px;
  }
  .bottom-section {
    width: 560px;
    gap: 28px;
  }
  .tasks-info {
    width: 168px;
    height: 168px;
  }
  .top {
    width: 264px;
    height: 168px;
  }
  .middle-section {
    width: 560px;
    height: 168px;
  }
  .middle-hover-container {
    width: 560px;
    height: 184px;
  }
  .top-hover-container {
    width: 283px;
    height: 184px;
  }
  .bottom-hover-container {
    width: 184px;
    height: 184px;
  }
  .summary-secondary {
    width: 576px;
  }
}

@media (min-width: 1341px) {
  .summary-title h1 {
    font-size: 64px;
  }
  .summary-wrapper {
    margin: 206px 0 0 calc(232px + 66px);
    width: calc(100vw - 232px - 196px);
  }
  .summary-content {
    padding-left: 32px;
  }
  .summary-title {
    margin-left: 0;
  }
  .summary-column {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 0px;
    gap: 73px;
  }
  .summary-column > div:first-child {
    order: 2;
  }
  .summary-greeting {
    justify-content: start;
    flex: 1;
  }
  .summary-secondary {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 760px) {
  .summary-wrapper {
    max-height: calc(100vh - 181px);
    margin: 144px 16px 0 16px;
  }
  .summary-title h1 {
    font-size: 54px;
  }
  .summary-content {
    justify-content: start;
    gap: 40px;
  }
  .summary-column {
    width: 100%;
  }
  .bottom-hover-container {
    width: 124px;
    height: 124px;
  }
  .hover-left:active,
  .hover-right:active,
  .hover-middle:active {
    background: var(--mockup-color);
    color: white;
  }
  .bottom-section {
    width: 500px;
  }
  .hover-left:active span,
  .hover-middle:active span,
  .hover-right:active span,
  .top-left:active span,
  .top-right:active span {
    color: inherit;
  }
  .top-left:active,
  .top-right:active {
    background: var(--mockup-color);
    color: white;
  }
  .top-left:active svg,
  .top-right:active svg {
    width: 65px;
    height: 65px;
  }
  .top-left:active svg circle,
  .top-right:active svg circle {
    fill: white;
  }
  .top-left:active svg path {
    fill: var(--mockup-color);
  }
  .top-right:active svg path {
    stroke: var(--mockup-color);
  }
  .hover-right:active,
  .top-right:active {
    transform: translate(-5%, 0%) scale(1.05);
  }
  .hover-left:active,
  .top-left:active {
    transform: translate(5%, 0%) scale(1.05);
  }
  .top-section {
    width: 500px;
    gap: 16px;
  }
  .top {
    width: 186px;
    height: 110px;
  }
  .top-hover-container {
    width: 194px;
    height: 120px;
  }
  .top-hover-container:last-child {
    display: flex;
    justify-content: end;
  }
  .middle-section {
    width: 500px;
    height: 120px;
    gap: 16px;
  }
  .middle-section:active,
  .middle-section:active *,
  .middle-section:active .summary-change-content span,
  .middle-section:active {
    background: var(--mockup-color);
    color: white;
  }
  .middle-section:active .separator2 {
    background: white;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.05);
  }
  .middle-hover-container {
    width: 500px;
    height: 120px;
  }
  .separator2 {
    height: 80px;
  }
}

@media (max-width: 560px) {
  .tasks-info,
  .summary-change-content {
    font-size: 36px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 18px;
  }
  .summary-info {
    text-align: center;
  }
  .separator-mobile {
    width: 80px;
    margin-top: 8px;
  }
  .box-1 svg,
  .middle-box svg {
    width: 40px;
    height: 40px;
  }
  .box-1,
  .middle-box {
    padding: 19px;
  }
  .summary-info span:last-child {
    font-size: 16px;
  }
  .summary-row {
    gap: 10px;
  }
  .tasks-info {
    width: 88px;
    text-align: center;
  }
  .summary-info {
    width: 180px;
    font-size: 16px;
    padding: 19px 8px 19px 8px;
  }
  .middle-hover-container,
  .middle-section,
  .top-section,
  .bottom-section {
    width: 396px;
    height: 110px;
  }
  .tasks-info {
    width: 124px;
    padding: 8px 0 8px 0;
  }
  .top-left:active svg,
  .top-right:active svg {
    width: 55px;
    height: 55px;
  }
  .separator2 {
    height: 70px;
  }
}

@media (max-width: 466px) {
  .box-1,
  .middle-section {
    padding: 0;
  }
  .middle-box,
  .summary-info {
    padding: 8px;
  }
  .summary-title h1 {
    font-size: 43px;
  }
  .summary-title span,
  .tasks-info span:last-child,
  .summary-change-content span:last-child,
  .summary-info {
    font-size: 14px;
  }
  .summary-info {
    width: 158px;
    font-size: 14px;
  }
  .summary-row {
    justify-content: center;
  }
  .summary-info span:last-child {
    font-size: 14px;
  }
  .middle-hover-container,
  .middle-section,
  .top-section,
  .bottom-section {
    width: 295px;
    height: 110px;
  }
  .top-hover-container,
  .top-right,
  .top-left {
    width: 130px;
  }
  .bottom-hover-container,
  .hover-right,
  .hover-middle,
  .hover-left {
    width: 90px;
  }
  .top-section {
    gap: 32px;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.03);
  }
  .top-left:active,
  .hover-left:active {
    transform: translate(5%, 0%) scale(1.03);
  }
  .top-right:active,
  .hover-right:active {
    transform: translate(-5%, 0%) scale(1.03);
  }
}
@media (max-width: 328px) {
  .middle-hover-container,
  .middle-section {
    width: 280px;
  }
  .middle-section:active,
  .hover-middle:active {
    transform: scale(1.03);
  }
  .summary-content {
    gap: 64px;
  }
}
