.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  background: var(--mockup-color);
  animation: animateLogoBg 1500ms forwards;
  animation-delay: 700ms;
}
@keyframes animateLogoBg {
  100% {
    z-index: 0;
    background: transparent;
  }
}
.logo svg {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  animation: animateLogo 1500ms forwards;
  animation-delay: 200ms;
}
.change-color {
  fill: white;
  animation: changeColor 3s forwards;
  animation-delay: 200ms;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 205px;
  margin-bottom: 32px;
  max-width: 800px;
  transition: all 200ms ease-in-out;
}
.form-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 56.4px;
  transition: all 200ms ease-in-out;
}
.line {
  margin-top: 16px;
  background-color: #29abe2;
  height: 3px;
  width: 88px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.login-container,
.signin-container {
  position: relative;
  padding: 32px 16px;
  border-radius: 30px;
  box-shadow: 0 0 14px #2a364739;
  display: flex;
  flex-direction: column;
  width: 100%;
  width: clamp(288px, 100%, 652px);
  transition: all 200ms ease-in-out;
}
.login-fields-container {
  width: 100%;
}
.login-btns-container,
.signin-flex-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.login-fields-gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
  margin: 32px 0 40px 0;
  transition: all 200ms ease-in-out;
}
.login-email {
  width: 20px;
  height: 16px;
}
.login-lock,
.login-name {
  width: 24px;
  height: 24px;
}
.remember-me-checkbox-container,
.pp-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 24px;
  width: 100%;
  max-width: 500px;
}
.remember-me-checkbox-container {
  position: relative;
  left: 15%;
  transition: all 200ms ease-in-out;
}
.pp-checkbox-container {
  gap: 8px;
  justify-content: center;
}
.pp-checkbox-container a {
  color: var(--mockup-highlight);
}
.remember-me-checkbox-container img {
  margin-right: 8px;
}
.remember-me-checkbox-container img,
.pp-checkbox-container img {
  cursor: pointer;
}
.sign-up-popup-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-popup {
  background: gray;
}
.sign-up-form-style {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.sign-up-form-style input {
  border-radius: 20px;
  border: none;
  padding: 8px 16px;
}
.signup-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 57.5px;
  transition: all 200ms ease-in-out;
}
.signup-container span {
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.legal-information-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}
.legal-information-container a {
  cursor: pointer;
  color: #a8a8a8;
}
.back-arrow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13.63px;
  left: 29.33px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.login-container .low-height-class,
.sign-container .low-height-class {
  transition: all 200ms ease-in-out;
}
.d-none,
.low-height-class {
  display: none;
}
