<link rel="stylesheet" href="/css/footer.css">
<footer  class="footer">
    <div class="footer-wrapper">
        <div class="desktop-logo">
            <img src="/assets/img/footer_logo.png" alt="Join Logo">
        </div>
        <div id="menu-navigation-id" class="menu-wrapper">
            <div class="menu-content" >
                <div class="footer-icon-box">
                    <a href="/summary.html" class="footer-link">
                        <img src="/assets/svg/summary.svg" alt="Summary" class="footer-icon"> 
                        Summary
                    </a>
                </div>
                <div class="footer-icon-box">
                    <a href="/board.html" class="footer-link">
                        <img src="/assets/svg/board.svg" alt="Board" class="footer-icon">
                        Board
                    </a>
                </div>
                <div class="footer-icon-box">
                    <a href="/add_task.html" class="footer-link">
                        <img src="/assets/svg/add_tasks.svg" alt="Add Tasks" class="footer-icon">
                        Add Tasks
                    </a>
                </div>
                <div class="footer-icon-box">
                    <a href="/contacts.html" class="footer-link">
                        <img src="/assets/svg/contacts.svg" alt="Contacts" class="footer-icon">
                        Contacts
                    </a>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="desktop-data-box">
            <a href="/privacy_policy.html" class="desktop-data-link">Privacy Policy</a>
            <a href="/legal_notice.html" class="desktop-data-link">Legal notice</a>
        </div>
        
    </div>
</footer>