<header class="header">
  <div class="header-gap">
    <img class="header-logo" src="/assets/img/logo.png" alt="join logo" />
    <span class="header-info">Kanban Project Management Tool</span>
    <div id="header-menu-id" class="header-menu-container" >
      
      <a href="/help.html">
        <img  class="header-logo" src="/assets/svg/help.svg" alt="join logo" />
        </a>
      <div id="header-initials-id" class="header-profil" onclick="togglelogoutContainer()"></div>
      <div id="logout-id" class="logout-dropdown">
          <a href="/privacy_policy.html" >Privacy Policy</a>
          <a href="/legal_notice.html">Legal Notice</a>
          
          <a href="./index.html">Log out</a>
      </div>
    </div>
  
    </div>
  </div>
</header>
