.legal-notice-content *,
.policy-notice-content *,
.help-content * {
  word-wrap: break-word;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.policy-notice-content a,
.help-content a {
  color: #29abe2;
}
.legal-notice-content p,
.policy-notice-content p,
.help-content p {
  text-wrap: wrap;
}
.legal-style span,
.policy-style span,
.legal-info a,
.legal-indemnity a,
.help-content span {
  color: #29abe2;
}
.legal-style,
.policy-style,
.help-style {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.legal-notice-content,
.policy-notice-content,
.help-content {
  margin: 96px 0px 0 16px;
  padding-block: 48px;
  padding-right: 16px;
  overflow-y: auto;
  max-height: calc(100vh - 176px);
}
.legal-header h1,
.privacy-policy h1,
.help-content h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 32px;
  transition: all 200ms ease-in-out;
}
.legal-imprint h2,
.privacy-rights h2,
.privacy-collection h2,
.privacy-registration h2,
.privacy-scripts h2,
.privacy-information h2,
.privacy-questions h2,
.privacy-protection h2,
.help-whatIs h2,
.help-howtoUse h2,
.help-enjoy h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 16px;
  transition: all 200ms ease-in-out;
}
.privacy-information h2,
.privacy-questions h2,
.help-howtoUse h2,
.help-enjoy h2 {
  margin-top: 24px;
}
.help-list,
.help-remember p:last-child {
  margin-top: 16px;
}
.privacy-policy,
.help-list ol li {
  margin-bottom: 16px;
}
.help-welcome {
  margin-bottom: 24px;
}
.privacy-rights ul li,
.privacy-collection ul li {
  margin-left: 34px;
  padding-left: 16px;
  list-style-position: outside;
}
.help-list ol {
  margin-left: 8px;
  padding-left: 16px;
  list-style-position: outside;
}
.legal-imprint ul li {
  list-style-position: inside;
}
.legal-imprint,
.legal-info,
.legal-acceptance,
.legal-scope,
.legal-rights,
.legal-use-info,
.legal-disclaimer,
.legal-indemnity,
.privacy-rights,
.privacy-collection,
.privacy-provision,
.privacy-storage,
.privacy-interest,
.privacy-required,
.privacy-duration,
.privacy-recipients,
.privacy-basis,
.privacy-processing,
.privacy-objection,
.privacy-individual,
.help-list {
  margin-bottom: 24px;
}
.legal-info h3,
.legal-acceptance h3,
.legal-scope h3,
.legal-rights h3,
.legal-use-info h3,
.legal-disclaimer h3,
.legal-indemnity h3,
.privacy-provision h3,
.privacy-storage h3,
.privacy-interest h3,
.privacy-required h3,
.privacy-duration h3,
.privacy-recipients h3,
.privacy-basis h3,
.privacy-processing h3,
.privacy-objection h3,
.privacy-individual h3,
.help-list h3 {
  font-size: 22px;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}
.legal-sub-scope {
  margin-top: 16px;
}
.legal-back-arrow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 160px;
  right: 37px;
  border-radius: 50%;
  padding: 4px;
  transition: all 200ms ease-in-out;
}
@media (min-width: 761px) {
  .legal-back-arrow:hover {
    background: var(--mockup-color);
  }
  .legal-back-arrow:active {
    background: var(--focus-color-btn);
  }
  .legal-back-arrow:active svg path {
    fill: white;
  }
  .legal-notice-content,
  .policy-notice-content,
  .help-content {
    margin: 96px 0px 0 232px;
    padding: 32px 32px 32px 32px;
    max-height: calc(100vh - 96px);
  }
  .legal-style,
  .policy-style,
  .help-style {
    justify-content: start;
  }
  .legal-back-arrow {
    top: 148px;
    right: 52px;
  }
}
@media (min-width: 1000px) {
  .legal-notice-content,
  .policy-notice-content,
  .help-content {
    margin: 96px 0px 0 232px;
    padding: 110px 96px 96px 96px;
    max-height: calc(100vh - 96px);
    max-width: 1440px;
  }
  .legal-back-arrow {
    top: 222px;
    right: 126px;
  }
}
@media (min-width: 1675px) {
  .legal-back-arrow {
    right: auto;
    left: 1510px;
  }
}
@media (max-width: 761px) {
  .legal-back-arrow:active {
    background: var(--placeholder-color);
  }
}
@media (max-width: 466px) {
  .legal-notice-content *,
  .policy-notice-content *,
  .help-content * {
    font-size: 14px;
  }
  .legal-header h1,
  .privacy-policy h1,
  .help-content h1 {
    font-size: 40px;
  }
  .legal-imprint h2,
  .privacy-rights h2,
  .privacy-collection h2,
  .privacy-registration h2,
  .privacy-scripts h2,
  .privacy-information h2,
  .privacy-questions h2,
  .privacy-protection h2,
  .help-whatIs h2,
  .help-howtoUse h2,
  .help-enjoy h2 {
    font-size: 20px;
  }
  .legal-info h3,
  .legal-acceptance h3,
  .legal-scope h3,
  .legal-rights h3,
  .legal-use-info h3,
  .legal-disclaimer h3,
  .legal-indemnity h3,
  .privacy-provision h3,
  .privacy-storage h3,
  .privacy-interest h3,
  .privacy-required h3,
  .privacy-duration h3,
  .privacy-recipients h3,
  .privacy-basis h3,
  .privacy-processing h3,
  .privacy-objection h3,
  .privacy-individual h3,
  .help-list h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .legal-back-arrow {
    top: 150px;
    right: 16px;
  }
}
@media (max-width: 335px) {
  .privacy-policy h1 {
    font-size: 38px;
  }
}
.d-none {
  display: none;
}
